@import '../config/_base';

html,
body {
  min-width: 300px;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
.container {
  @include container;
}
.main-slider {
  margin: 20px auto;
  //max-width: 62.5rem;
  width: 100%;
  .owl-item {
    img {
      display: inline;
      width: auto;
      max-width: 100%;
    }
  }
}

.owl-carousel {
  .owl-item {
    img {
      width: auto;
    }
  }
}

.owl-theme {
  .owl-nav {
    left: 0;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    [class*='owl-'] {
      display: block;
      margin: 0;
      width: 16px;
      height: 30px;
    }
    .owl-prev {
      float: left;
    }
    .owl-next {
      float: right;
    }
  }
  &.black {
    .owl-nav {
      [class*='owl-'] {
        width: 11px;
        height: 20px;
      }
      .owl-prev {
        margin-left: 25px;
      }
      .owl-next {
        margin-right: 25px;
      }
    }
  }
  &.white {
    .owl-nav {
      height: 100%;
      top: 0;
      [class*='owl-'] {
        width: 70px;
        height: 100%;
      }
    }
  }
  .owl-dots {
    width: 100%;
  }
}

//Header styles
.header {
  .logo-block {
    float: left;
    .main-logo {
      display: table-cell;
      width: 45px;
      height: 75px;
    }
    .company-name{
      display: none;
      height: 75px;
    }
  }
  .top-menu-block {
    display: block;
    float: right;
    height: 75px;
    .navigation-list {
      display: none;
      .navigation-root {
        margin: 0;
        ul {
          display: none;
        }
      }
    }
    .top-menu-list {
      display: inline-block;
      height: 100%;
      .sitemap {
        display: none;
      }
      .top-menu-list-item .search {
        &:hover {
          .dropdown-menu-search {
            display: block;
          }
        }
      }
      &-item {
        display: inline-block;
        height: 100%;
        width: 65px;
      }
    }
  }
}
.page-title-inscription {
  display: none;
}
.dropdown-menu-search {
  display: none;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
//Pages styles
.persons-list {
  &-item {
    &:first-child {
      margin-top: 0;
    }
    .person-information {
      margin-top: 15px;
      .person-title {
        font-weight: 600;
        margin-bottom: 10px;
      }
      .person-description {
        margin-bottom: 10px;
      }
    }
  }
}
//subsidiary map block
.facts-block {
  .facts-summary-list {
    margin-top: 50px;
    margin-bottom: 40px;
    &-item {
      display: block;
      margin: 10px auto 0;
      max-width: 120px;
    }
  }
}
.subsidiary-map {
  position: relative;
  width: 100%;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 70px;
  }
  .map-item {
    position: absolute;
  }
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $white;
    a {
      position: absolute;
      width: 20px;
      height: 20px;
    }
    &:hover {
      .circle-inner {
        display: block;
      }
    }
  }
  .circle-inner {
    margin-top: 1px;
    margin-left: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $green;
    display: none;
  }
  .podolsk {
    top: 61%;
    &:hover {
      + .podolsk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .podolsk-circle {
    top: 62%;
    left: 23%;
  }
  .elektrostal {
    top: 54%;
    left: 1%;
    &:hover {
      + .elektrostal-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .elektrostal-circle {
    top: 61%;
    left: 19%;
  }
  .moskow {
    top: 45%;
    left: 3%;
    &:hover {
      + .moskow-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .moskow-circle {
    top: 59%;
    left: 21%;
  }
  .vladimir {
    top: 36%;
    left: 5%;
    &:hover {
      + .vladimir-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .vladimir-circle {
    top: 55%;
    left: 22%;
  }
  .piter {
    top: 28%;
    left: 7%;
    &:hover {
      + .piter-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .piter-circle {
    top: 48%;
    left: 22%;
  }
  .petrozavodsk {
    top: 20%;
    left: 16%;
    &:hover {
      + .petrozavodsk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .petrozavodsk-circle {
    top: 43%;
    left: 23%;
  }
  .murmansk {
    top: 12%;
    left: 27%;
    &:hover {
      + .murmansk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .murmansk-circle {
    top: 36%;
    left: 28%;
  }
  .kovrov {
    top: 26%;
    left: 31%;
    &:hover {
      + .kovrov-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .kovrov-circle {
    top: 57%;
    left: 25%;
  }
  .novgorod {
    top: 10%;
    left: 41%;
    &:hover {
      + .novgorod-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .novgorod-circle {
    top: 56%;
    left: 28%;
  }
  .glazov {
    top: 28%;
    left: 44%;
    &:hover {
      + .glazov-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .glazov-circle {
    top: 61%;
    left: 27%;
  }
  .sarov {
    top: 57%;
    left: 35%;
    &:hover {
      + .sarov-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .sarov-circle {
    top: 66%;
    left: 26%;
  }
  .zarechniy {
    top: 50%;
    left: 49%;
    &:hover {
      + .zarechniy-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .zarechniy-circle {
    top: 62%;
    left: 44%;
  }
  .seversk {
    top: 62%;
    left: 52%;
    &:hover {
      + .seversk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .seversk-circle {
    top: 74%;
    left: 46%;
  }
  .angarsk {
    top: 69%;
    left: 58%;
    &:hover {
      + .angarsk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .angarsk-circle {
    top: 82%;
    left: 56%;
  }
  .krasnokamensk {
    top: 92%;
    left: 67%;
    &:hover {
      + .krasnokamensk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .krasnokamensk-circle {
    top: 85%;
    left: 67%;
  }
  .zelenogorsk {
    bottom: -9%;
    left: 59%;
    &:hover {
      + .zelenogorsk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .zelenogorsk-circle {
    top: 79%;
    left: 52%;
  }
  .zheleznogorsk {
    bottom: -4%;
    left: 49%;
    &:hover {
      + .zheleznogorsk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .zheleznogorsk-circle {
    top: 78%;
    left: 48%;
  }
  .novosibirsk {
    bottom: -7%;
    left: 35%;
    &:hover {
      + .novosibirsk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .novosibirsk-circle {
    top: 80%;
    left: 44%;
  }
  .ekatirenburg {
    bottom: 5%;
    left: 26%;
    &:hover {
      + .ekatirenburg-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .ekatirenburg-circle {
    top: 65%;
    left: 32%;
  }
  .novouralsk {
    bottom: -5%;
    left: 16%;
    &:hover {
      + .novouralsk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .novouralsk-circle {
    top: 70%;
    left: 30%;
  }
  .dimitrovgrad {
    bottom: 0;
    left: 0;
    &:hover {
      + .dimitrovgrad-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .dimitrovgrad-circle {
    top: 75%;
    left: 25%;
  }
  .volgodosk {
    bottom: 17%;
    left: 0;
    &:hover {
      + .volgodosk-circle {
        .circle-inner {
          display: block;
        }
      }
    }
  }
  .volgodosk-circle {
    top: 77%;
    left: 17%;
  }
}
.subsidiaries-menu {
  display: none;
  max-width: 230px;
  .subsidiaries-menu-title {

  }
  .subsidiaries-menu-list-item::before {
    padding-right: 5px;
    padding-left: 10px;
    content: "•";
    color: $green;
    font-size: 14px;
    font-weight: 600;
  }
}
//management page
.persons-list-item {
  .management-wrapper & {
    margin-bottom: 30px;
    .person-name {
      margin-top: 20px;
    }
    .person-position {
      margin: 10px 0;
    }
  }
}
.person-avatar {
  img {
    width: 100%;
  }
}
//management person page
.persons-list-item {
  margin-bottom: 15px;
  .management-wrapper & {
    @include span(3 of 6 first);
    &:nth-child(2n){
      @include span(3 of 6 last);
    }
    &:nth-child(2n-1){
      clear: both;
    }
  }
  .management-person-wrapper & {
    .person-image {
      float: none;
    }
    .person-information {
      float: none;
      margin-top: 15px;
      .person-title {
        font-weight: 600;
        margin-bottom: 10px;
      }
      .person-description {
        margin-bottom: 10px;
      }
    }
  }
}
.subsidiary-block {
  .persons-list {
    &-item {
      .person-information {
        .person-post {
          margin-bottom: 15px;
        }
      }
    }
  }
}
.description-html-safe {
  ul {
    li {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      ul {
        li {
          margin-top: 0;
          &:first-child {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.page-image {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
//Additional page menu
.menu-change-visibility {
  .additional-menu {
    display: block;
  }
  .menu-open {
    display: none;
  }
}

.menu-open {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  margin-top: -28px;
  img {
    margin-top: 10px;
  }
}

.additional-menu {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: none;

  ul {
    margin-top: 0;
  }

  span {
    &.easytree-expander {
      position: absolute;
      &:after {
        width: 20px;
        height: 20px;
      }
    }
  }

  .menu-close {
    position: absolute;
    right: 23px;
    top: 20px;
    z-index: 10;
  }

  .menu-header {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .top-blur-block,
  .bottom-blur-block {
    width: 88%;
    height: 20px;
    position: absolute;
    z-index: 1;
  }

  .top-blur-block {
    top: 0;
  }

  .bottom-blur-block {
    bottom: 0;
  }

  .scrollbar-dynamic {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 240px;

    li {
      > ul {
        height: auto;
      }
    }
  }
}
//Top dropdown-menu styles
.dropdown-menu-list {
  width: 100%;
  position: relative;
  .dropdown-menu-navigation {
    position: absolute;
    top: 0;
    display: none;
    z-index: 3;
    @include span(3);
    .parent-menu {
      @include span(1.5 first);
    }
    .child-menu {
      @include span(1.5 last);
      li {
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
.one-column {
  display: block;
}
.two-columns {
  display: none;
}

//.tile-list {
//  margin: 0 auto;
//  max-width: 670px;
//  &-item {
//    position: relative;
//    margin-bottom: 5px;
//    &:hover {
//      > .expanded-description-block {
//        display: block;
//      }
//      > .greenatom-icon {
//        display: none;
//      }
//    }
//    .vk,
//    .facebook {
//      margin-bottom: 4px;
//    }
//    .title-block {
//      position: absolute;
//      top: 0;
//      width: 100%;
//      .archive-icon {
//        display: block;
//        margin: 20% auto 0 auto;
//      }
//      .work-icon {
//        display: block;
//        margin: 5% auto 0 auto;
//      }
//      .no-dot-title {
//        margin-top: 10px;
//      }
//    }
//    .background {
//      display: block;
//      max-width: 100%;
//      width: 100%;
//    }
//  }
//  .horizontal-block {
//    .expanded-description-block {
//      display: none;
//      height: 60%;
//      position: absolute;
//      bottom: 0;
//    }
//  }
//  .vertical-block {
//    @include span(1.5 no-gutters);
//    .expanded-description-block {
//      display: none;
//      height: 60%;
//      position: absolute;
//      bottom: 0;
//    }
//    .date-block {
//      margin-bottom: 20px;
//    }
//  }
//  .news-block {
//    .expanded-description-block {
//      display: none;
//      bottom: auto;
//      position: absolute;
//    }
//    .date-block {
//      margin-bottom: 20px;
//    }
//  }
//}

//Footer styles
.logo-block-footer {
  display: inline-block;
  .logo-item {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px;
  }
}
.social-media-block {
  display: inline-block;
  .title-before {
    display: none;
  }
  .social-media-list {
    display: inline-block;
    &-item {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin-left: 17px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.form-field {
  position: relative;
  box-sizing: border-box;
}
.dropdown-menu-sitemap {
  display: none;
}
.dropdown-menu-search {
  .dropdown-menu-search-inner {
    padding: 20px;
  }
  .search {
    height: 30px;
    width: 100%;
  }
  .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px;
  }
}
.search-block-footer {
  margin-top: 15px;
  .search {
    height: 30px;
    width: 100%;
  }
  .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px;
  }
}
//.menu-column {
//  @include span(1.5);
//  &:last-child {
//    margin-top: 15px;
//    @include span(3 last);
//  }
//  li {
//    margin-top: 10px;
//    &:first-child {
//      margin-top: 0;
//    }
//  }
//}

@include breakpoint(380px, 3) {
  .header {
    .logo-block {
      .company-name {
        display: table-cell;
        vertical-align: middle;
        padding-left: 25px;
      }
    }
  }
}

@include breakpoint(480px, 3) {
  //Additional page menu
  .menu-open {
    right: 35px;
  }
  .persons-list {
    &-item {
      .person-image {
        @include span(1 first no-gutters);
      }
      .person-information {
        @include span(2 last);
        margin-top: 0;
      }
    }
  }

  //.tile-list-item {
  //  .title-block {
  //    .archive-icon {
  //      margin: 30% auto 0 auto;
  //    }
  //    .work-icon {
  //      margin: 15% auto 0 auto;
  //    }
  //  }
  //}
}

@include breakpoint(600px, 6) {
  //subsidiary map block
  .facts-block {
    .facts-summary-list {
      &-item {
        display: inline-block;
        margin-right: 25px;
        max-width: none;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  //Additional page menu

  //.tile-list {
  //  &-item {
  //    margin-bottom: 15px;
  //    .title-block {
  //      .archive-icon {
  //        margin: 30% auto 0 auto;
  //      }
  //      .work-icon {
  //        margin: 20% auto 0 auto;
  //      }
  //    }
  //  }
  //  .horizontal-block {
  //    @include span(6 of 6 no-gutter);
  //  }
  //  .vertical-block {
  //    @include span(3 of 6 no-gutter);
  //    &.first {
  //      clear: both;
  //    }
  //    &.last {
  //      @include span(3 of 6 last no-gutter)
  //    }
  //  }
  //  .vk,
  //  .facebook {
  //    margin-bottom: 6px;
  //  }
  //  .work {
  //    .no-dot-title {
  //      margin-top: 40px;
  //    }
  //  }
  //}
}

@include breakpoint(700px, 6) {
  .header {
    .top-menu-block {
      .top-menu-list {
        .sitemap {
          display: inline-block;
        }
      }
    }
  }
  .dropdown-menu-search {
    width: 100%;
    .dropdown-menu-search-inner {
      padding: 25px;
    }
    .form-field {
      width: 571px;
      margin: 0 auto;
    }
  }
  //.tile-list {
  //  max-width: 100%;
  //  &-item {
  //    @include span(3 of 6 first no-gutter);
  //  }
  //  .taxes {
  //    position: relative;
  //    width: 100%;
  //  }
  //  .vk {
  //    @include span(1.5 first no-gutter);
  //    margin-bottom: 0;
  //    padding-right: 7px;
  //  }
  //  .facebook {
  //    @include span(1.5 last no-gutter);
  //    margin-bottom: 0;
  //    padding-left: 7px;
  //  }
  //  .instagram {
  //    margin-top: 15px;
  //    @include span(3 no-gutter);
  //  }
  //}
  .logo-block-footer {
    float: left;
    .logo-item {
      margin-right: 35px;
    }
  }
  .social-media-block {
    float: right;
  }
  .menu-column {
    @include span(1.5 of 6);
    margin-top: 30px;
    &:last-child {
      @include span(3 of 6 last);
      margin-top: 30px;
    }
  }
  .search-block-footer {
    margin-top: 30px;
  }
}
@include breakpoint(720px, 6) {
  //subsidiary map block
  .facts-block {
    .facts-summary-list {
      &-item {
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  //management page
  .persons-list-item {
    .management-wrapper & {
      @include span(2 of 6 first);
      &:nth-child(2n){
        @include span(2 of 6);
      }
      &:nth-child(2n-1){
        clear: none;
      }
      &:nth-child(3n){
        @include span(2 of 6 last);
      }
      &:nth-child(3n+1){
        clear: both;
      }
    }
  }
  .additional-menu .menu-close {
    right: 90px;
  }
}
@include susy-breakpoint(800px, 12) {
  .container {
    @include container(12);
  }
}

@include breakpoint(960px, 12) {
  //subsidiary map block
  .facts-block {
    .facts-summary-list {
      &-item {
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .subsidiaries-menu {
    display: block;
  }
  // additional page menu
  .menu-open {
    display: none;
  }
  .additional-menu {
    display: block;
    .top-blur-block,
    .bottom-blur-block {
      display: none;
    }
    .menu-header {
      display: block;
    }
    .menu-close {
      display: none;
    }
    .scrollbar-dynamic {
      height: auto;
      overflow: visible;
    }
    ul {
      margin-top: 20px;
    }
  }
  //Page styles
  .page-title-inscription {
    @include span(3 of 12 first);
    display: block;
  }
  .page-title-block {
    @include span(9 of 12 last);
  }
  .page-content {
    @include span(9 of 12 last);
  }
  .page-menu,
  .subsidiaries-menu {
    @include span(3 of 12 first);
  }

  // Footer styles
  .menu-block-footer {
    @include span(7 of 12 first);
  }
  .menu-column {
    @include span(1.8 of 7);
    margin-top: 55px;
    &:last-child {
      @include span(3.4 of 7 last);
      margin-top: 55px;
    }
  }
  .logo-block-footer {
    @include span(5.5 of 12 first);
    .logo-item {
      margin-right: 20px;
    }
  }
  .social-media-block {
    @include span(6.5 of 12 last);
    text-align: right;
    .title-before {
      display: table-cell;
      vertical-align: middle;
      color: $white;
      margin-right: 20px;
    }
    .social-media-list {
      display: table-cell;
    }
  }
  .search-block-footer {
    margin-top: 55px;
    @include span(5 of 12 last);
    .search {
      height: 30px;
      width: 100%;
    }
    .button-submit {
      position: absolute;
      top: 5px;
      right: 0;
      width: 25px;
      height: 22px;
    }
  }
  .main-slider {
    .slider-text-block {
      @include span(4 of 12);
      float: none;
      display: table-cell;
    }
    .slider-image-block {
      @include span(7.5 of 12 last);
      float: none;
      display: table-cell;
    }
  }
}
@include breakpoint(1200px, 12) {
  .container {
    max-width: 1140px;
  }
  //header styles
  .header {
    .top-menu-list {
      .navigation {
        display: none;
      }
    }
    .top-menu-block {
      .navigation-list {
        display: inline-block;
        &-item {
          display: table-cell;
          text-transform: uppercase;
          height: 75px;
          vertical-align: middle;
          font-size: 13px;
          a {
            color: $white;
          }
        }
        .navigation-list-item::before {
          padding-right: 10px;
          padding-left: 10px;
          content: "•";
          color: $green;
          font-size: 14px;
          font-weight: 600;
        }
        .navigation-list-item:first-child:before {
          content: " ";
        }
      }
    }
  }
  .dropdown-menu-search {
    .dropdown-menu-search-inner {
      padding: 25px;
    }
    .form-field {
      width: 571px;
      float: right;
      margin-right: 75px;
    }
  }
  // Footer styles
  .menu-column {
    @include span(1.5 of 7);
    &:last-child {
      @include span(4 of 7 last);
    }
  }
  .logo-block-footer {
    .logo-item {
      margin-right: 60px;
    }
  }
  .social-media-block {
    @include span(4.5 of 12 last);
    text-align: left;
    .title-before {
      padding-right: 35px;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .search-block-footer {
    @include span(4.5 of 12 last);
  }
  .main-content {
    .tile-list {

    }
  }
  //subsidiary map block
  .facts-block {
    .facts-summary-list {
      margin-top: 50px;
      margin-bottom: 40px;
      &-item {
        margin-right: 65px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}