@import '../config/_base';

.tile-list-wrapper {
  .two-columns {
    display: none;
  }
}

.tile-list {
  .tile-list-row {
    margin-bottom: gutter(3);
  }

  .wide {
    & >.first {
      @include span(1.5);
      padding-right: gutter(3)/2;
      display: table-cell;
      float: none;
    }
    & > .last {
      @include span(1.5 last);
      padding-left: gutter(3)/2;
      display: table-cell;
      float: none;
    }
  }

  .tile-list-item {
    position: relative;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }

  .items_3 {
    .tile-list-item {
      @include span(3 last);
    }
    & > .first {
      @include span(1.5);
      margin-bottom: gutter(3);
    }
    & > .last {
      @include span(1.5 last);
      margin-bottom: gutter(3);
    }
    .tile-list-item-child {
      position: relative;
    }
    a {
      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
      }
      &:hover {
        &::before {
          display: none;
        }
      }
    }
  }

  .simple-color {
    position: relative;
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      width: span(3) - gutter(3);
      height: 100%;
      z-index: 20;
    }
    &.with-text {
      &::before {
        z-index: 80;
      }
      .tile-image {
        z-index: 60;
      }
    }
    .tile-text,
    .tile-title,
    .tile-image {
      position: relative;
      z-index: 100;
    }
    .tile-text {
      display: block;
    }

  }

  .half-horizontal {
    .tile-text {
      display: block;
      position: absolute;
      bottom: 0;
      height: 50%;
      width: span(3) - gutter(3);
    }
  }

  .slider {
    .slider-item-title {
      display: none;
    }
    .tile-title {
      position: static;
      width: 100%;
    }
    .owl-carousel {
      padding-left: span(2);
      padding-right: span(2);
      box-sizing: border-box;
    }
    &.full {
      .tile-title {
        position: absolute;
        z-index: 10;
      }
      .owl-carousel {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .small-list {
    position: relative;
    .tile-title {
      top: 0px;
    }
    .tile-text {
      display: block;
      position: absolute;
      bottom: 15px;
    }
  }

  .icon-with-list {
    .tile-text {
      display: none;
      width: 130px;
      margin: 0 auto;
    }
    .cities-list {
      margin: 5px 0;
    }
    &:hover {
      .tile-icon {
        display: none;
      }
      .tile-text {
        display: block;
      }
    }
  }

  .text-on-hover {
    .short-description {
      margin-bottom: 5px;
      p {
        margin-bottom: 5px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    &:hover {
      .tile-title {
        display: none;
      }
      .tile-text {
        display: block;
        position: absolute;
        bottom: 0;
      }
      .blue-back,
      .cyan-back {
        display: block;
        position: absolute;
        bottom: 0;
        width: 98%;
        height: 100%;
      }
    }
  }

  .tile-text {
    display: none;
    box-sizing: border-box;
  }

  .blue-back,
  .cyan-back{
    display: none;
  }

  .tile-title {
    position: absolute;
    top: 0;
  }

  .tile-icon {
    margin-bottom: 20px;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  .rewards-list {
    .rewards-list-item {
      margin-right: 5px;
    }
  }
}

.clients-list {
  width: 100%;
  font-size: 0;
  margin-top: 35px;
  &:first-child {
    margin-top: 0;
  }
  .clients-list-item {
    display: inline-block;
    width: 25%;
    font: $font-base;
    img {
      display: inline;
    }
  }
}


@include susy-breakpoint(600px, 6) {
  .tile-list {
    .tile-list-row {
      margin-bottom: gutter(6);
    }

    .wide {
      & > .first {
        @include span(3);
        padding-right: gutter(6)/2;
        display: table-cell;
        float: none;
      }

      & > .last {
        @include span(3 last);
        padding-left: gutter(6)/2;
        display: table-cell;
        float: none;
      }
    }

    .simple-color {
      &::before {
        width: span(6) - gutter(6);
      }
    }

    .half-horizontal {
      .tile-text {
        width: span(6) - gutter(6);
      }
    }

    .items_3 {
      .tile-list-item {
        @include span(6 last);
      }

      & > .first {
        @include span(3);
        margin-bottom: gutter(3);
      }

      & > .last {
        @include span(3 last);
        margin-bottom: gutter(3);
      }
    }
  }
}

@include breakpoint(700px, 6) {
  .one-column {
    max-width: 650px;
    margin: 0 auto;
  }
}

@include susy-breakpoint(800px, $susy_desktop) {
  .tile-list-wrapper {
    .one-column {
      display: none;
    }
    .two-columns {
      display: block;
    }
  }

  .tile-list {
    @include span(6);
    &:last-child {
      @include span(6 last);
    }

    .tile-list-row {
      margin-bottom: gutter(6);
    }

    .wide {
      & >.first {
        @include span(6);
        padding-right: gutter(6)/2;
        float: none;
      }
      & > .last {
        @include span(6 last);
        padding-left: gutter(6)/2;
        float: none;
      }
    }

    .items_3 {
      .tile-list-item {
        @include span(12 last);
        margin-bottom: 0;
      }
      & > .first {
        @include span(1.5 of 3);
        margin-bottom: gutter(3);
      }
      & > .last {
        @include span(1.5 of 3 last);
        margin-bottom: gutter(3);
      }
    }

    .simple-color {
      &::before {
        width: span(12) - gutter(6);
      }
      &.with-text {
        .tile-text {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          //height: 100%;
          //display: table-cell;
          width: span(12) - gutter(6);
        }
      }
    }

    .half-horizontal {
      .tile-text {
        width: span(12) - gutter(6);
        height: span(6) - gutter(6);
      }
    }

    .slider {
      .owl-carousel {
        padding-left: span(1.5);
        padding-right: span(1.5);
      }
    }

    .text-on-hover {
      .short-description {
        margin-bottom: 10px;
        p {
          margin-bottom: 10px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      &:hover {
        .tile-title {
          display: block;
        }
      }
    }

    .tile-icon {
      margin-bottom: 40px;
      img {
        max-width: none;
        max-height: none;
      }
    }
  }
}

@include susy-breakpoint(960px, 12) {
  .tile-list {
    .icon-with-list {
      .tile-text {
        width: 170px;
      }
    }

    .small-list {
      .tile-title {
        top: 10px;
      }
      .tile-text {
        bottom: 20px;
      }
    }
  }
}

@include susy-breakpoint(1200px, 12) {
  .tile-list {
    .small-list {
      .tile-title {
        top: 15px;
      }
      .tile-text {
        bottom: 30px;
      }
    }
  }
}