@import '../config/_base';
@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";


.main-content-wrapper {
  background: white;
}

.menu-change-visibility {
  .additional-menu {
    display: block;
  }
  .menu-open {
    display: none;
  }
}
.page-menu {
  margin: -65px -5px 60px;
}
.menu-open {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  margin-top: -28px;
  img {
    margin-top: 10px;
  }
}

.additional-menu {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: none;

  .menu-close {
    position: absolute;
    right: 30px;
    z-index: 10;
  }

  .menu-header {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .top-blur-block {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .bottom-blur-block {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .scrollbar-dynamic {
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 240px;

    li {
      > ul {
        height: auto;
      }
    }
  }
}

.users-list {
  .users-list-item {
    margin-bottom: 30px;
    .user-name {
      margin-top: 20px;
    }
    .user-position {
      margin: 10px 0px;
    }
  }
  .user-avatar {
    img {
      width: 100%;
    }
  }
}

@include breakpoint(480px, 6) {
  .page-menu {
    margin: -65px -10px 60px;
  }
  .menu-open {
    right: 35px;
  }

  .users-list {
    .users-list-item {
      @include span(3 of 6 first);
      &:nth-child(2n){
        @include span(3 of 6 last);
      }
      &:nth-child(2n-1){
        clear: both;
      }
    }
  }
}
@include breakpoint(600px, 6) {
  .page-menu {
    margin: -65px -15px 60px;
  }
}
@include breakpoint(720px, 6) {
  .page-menu {
    margin: -65px -75px 60px;
  }
  .users-list {
    .users-list-item {
      @include span(2 of 6 first);
      &:nth-child(2n){
        @include span(2 of 6);
      }
      &:nth-child(2n-1){
        clear: none;
      }
      &:nth-child(3n){
        @include span(2 of 6 last);
      }
      //&:nth-child(2n){
      //  @include span(2 of 6);
      //}
      //&:nth-child(2n-1){
      //  clear: none;
      //}
      &:nth-child(3n+1){
        clear: both;
      }
    }
  }
}

@include breakpoint(960px, 12) {
  .page-menu {
    margin: 0;
  }

  .menu-open {
    display: none;
  }
  .additional-menu {
    display: block;
    .top-blur-block,
    .bottom-blur-block {
      display: none;
    }
    .menu-header {
      display: block;
    }
    .menu-close {
      display: none;
    }
    .scrollbar-dynamic {
      height: auto;
      overflow: visible;
    }
    ul {
      padding: 0;
    }
  }
  //.users-list {
  //  .users-list-item {
  //    height: 400px;
  //    @include span(4 of 12);
  //    &:nth-child(3n){
  //      @include span(4 of 12 last);
  //    }
  //    &:nth-child(2n-1){
  //      clear: none;
  //    }
  //    &:nth-child(3n+1){
  //      clear: left;
  //    }
  //  }
  //}
}

