@import '../config/_base';

.persons-list {
  &-item {
    .person-image {
      float: none;
    }
    .person-information {
      float: none;
      margin-top: 15px;
      .person-title {
        font-weight: 600;
        margin-bottom: 10px;
      }
      .person-description {
        margin-bottom: 10px;
      }
    }
  }
}
