@import '../config/_base';
@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";


.main-content-wrapper {
  background: white;
}

.menu-change-visibility {
  .additional-menu {
    display: block;
  }
  .menu-open {
    display: none;
  }
}

.menu-open {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  margin-top: -28px;
  img {
    margin-top: 10px;
  }
}

.additional-menu {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: none;
  height: 240px;

  .menu-close {
    position: absolute;
    right: 30px;
  }

  .menu-header {
    display: none;
  }

  a {
    margin-left: 20px;
    margin-top: -18px;
    display: block;
  }

  .top-blur-block {
    width: 80%;
    height: 60px;
    position: absolute;
    top: 0;
  }

  .bottom-blur-block {
    width: 80%;
    height: 60px;
    position: absolute;
    bottom: 0;
  }

  ul {
    width: 88%;
    margin: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 200px;

    li {
      > ul {
        height: auto;
      }

      button {
        a {
          margin: 0;

        }
      }
    }
  }
}

.users-list {
  margin-top: 60px;
  margin-bottom: 90px;
  .users-list-item {
    margin-bottom: 30px;
    .user-name {
      margin-top: 20px;
    }
    .user-position {
      margin: 10px 0px;
    }
  }
  .user-avatar {
    img {
      width: 100%;
    }
  }
}

@include breakpoint(480px, 6) {
  .menu-open {
    right: 35px;
  }

  .users-list {
    .users-list-item {
      @include span(3 of 6);
      &:nth-child(2n-1){
        clear: left;
      }
    }
  }
}

@include breakpoint(720px, 6) {
  .users-list {
    .users-list-item {
      clear: none;
      @include span(2 of 6);
      &:nth-child(2n-1){
        clear: none;
      }
      &:nth-child(3n+1){
        clear: left;
      }
    }
  }
}

@include breakpoint(960px, 12) {
  .menu-open {
    display: none;
  }
  .additional-menu {
    display: block;
    margin-top: 37px;
    .top-blur-block,
    .bottom-blur-block {
      display: none;
    }
    .menu-header {
      display: block;
    }
    .menu-close {
      display: none;
    }
    ul {
      height: auto;
      overflow: visible;
    }
    @include span(3 of 12);
  }
  .users-list {
    @include span(9 of 12);
    .users-list-item {
      height: 400px;
      @include span(4 of 12);
      &:nth-child(2n-1){
        clear: none;
      }
      &:nth-child(3n+1){
        clear: left;
      }
    }
  }
}

