/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{


    ul:first-child{
        margin-top: 10px;
    }
}

.pushy-content{
    visibility: hidden;
}

/* Menu Movement */


.pushy-content{
    visibility: visible;
}

/* Menu Transitions */

/* Submenu Appearance */

.pushy-submenu{
    button a {
        display: inline;
    }

    > a::after,
    > button::after {
        content: '-';
        height: 11px;
        width: 8px;
        display: inline;
        padding-left: 10px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
    }

    ul{
        padding-left: 15px;
        transition: max-height 0.2s ease-in-out,
        visibility 0.2s ease-in-out;

        .pushy-link{
            transition: opacity 0.2s ease-in-out;
        }
    }

    /* Submenu Buttons */

    button{
        cursor: pointer;
        outline: none;
        text-align: left;
        background: transparent;
        border: 0;
        padding-left: 0;

        &:hover{
            color: #FFF;
        }
    }

    /* Submenu Icon */

    > a,
    > button {
        position: relative;
    }


}

/* Submenu Movement */

.pushy-submenu-closed{
    ul{
        max-height: 0;
        overflow: hidden !important;
        visibility: hidden;
        padding: 0 !important;
    }

    .pushy-link{
        opacity: 0;
    }

    > a::after,
    > button::after {
        content: '+';
    }
}

.pushy-submenu-open{
    ul{
        max-height: 1000px;
        visibility: visible;
        padding: 0 !important;
        padding-top: 5px !important;
    }

    .pushy-link{
        opacity: 1;
    }

    /* Submenu Icon */
    > a::after,
    > button::after {
        content: '-';
    }
}