@charset "UTF-8";
@import url(../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css);
@import url(../../node_modules/owl.carousel/dist/assets/owl.theme.default.css);
@import url(_variables.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic);
html,
body {
  min-width: 300px;
  height: 100%;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0; }

.main-slider {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }

.header .logo-block {
  float: left; }
  .header .logo-block .main-logo {
    display: table-cell;
    width: 45px;
    height: 75px; }
  .header .logo-block .company-name {
    display: none;
    height: 75px; }
.header .top-menu-block {
  display: block;
  float: right;
  height: 75px; }
  .header .top-menu-block .navigation-list {
    display: none; }
  .header .top-menu-block .top-menu-list {
    display: inline-block;
    height: 100%; }
    .header .top-menu-block .top-menu-list .sitemap {
      display: none; }
    .header .top-menu-block .top-menu-list .top-menu-list-item .search:hover .dropdown-menu-search {
      display: block; }
    .header .top-menu-block .top-menu-list-item {
      display: inline-block;
      height: 100%;
      width: 65px; }

.dropdown-menu-search {
  display: none;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%; }

.dropdown-menu-list {
  width: 100%;
  position: relative; }
  .dropdown-menu-list .dropdown-menu-navigation {
    position: absolute;
    top: 0;
    display: none;
    z-index: 3;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.7777777778%;
    padding-right: 2.7777777778%; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 2.7777777778%;
      padding-right: 2.7777777778%; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: right;
      padding-left: 2.7777777778%;
      padding-right: 2.7777777778%; }
      .dropdown-menu-list .dropdown-menu-navigation .child-menu li {
        margin-top: 10px; }
        .dropdown-menu-list .dropdown-menu-navigation .child-menu li:first-child {
          margin-top: 0; }

.one-column {
  display: block; }

.two-columns {
  display: none; }

.tile-list {
  margin: 0 auto;
  max-width: 670px; }
  .tile-list-item {
    position: relative;
    margin-bottom: 5px; }
    .tile-list-item:hover > .expanded-description-block {
      display: block; }
    .tile-list-item:hover > .greenatom-icon {
      display: none; }
    .tile-list-item .vk,
    .tile-list-item .facebook {
      margin-bottom: 4px; }
    .tile-list-item .title-block {
      position: absolute;
      top: 0;
      width: 100%; }
      .tile-list-item .title-block .archive-icon {
        display: block;
        margin: 20% auto 0 auto; }
      .tile-list-item .title-block .work-icon {
        display: block;
        margin: 5% auto 0 auto; }
      .tile-list-item .title-block .no-dot-title {
        margin-top: 10px; }
    .tile-list-item .background {
      display: block;
      max-width: 100%;
      width: 100%; }
  .tile-list .horizontal-block .expanded-description-block {
    display: none;
    height: 60%;
    position: absolute;
    bottom: 0; }
    .tile-list .horizontal-block .expanded-description-block .short-description {
      margin-bottom: 55px; }
  .tile-list .vertical-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left; }
    .tile-list .vertical-block .expanded-description-block {
      display: none;
      height: 60%;
      position: absolute;
      bottom: 0; }
    .tile-list .vertical-block .short-description {
      margin-bottom: 37px; }
    .tile-list .vertical-block .date-block {
      margin-bottom: 20px; }
  .tile-list .news-block .expanded-description-block {
    display: none;
    bottom: auto;
    position: absolute; }
  .tile-list .news-block .short-description {
    margin-bottom: 37px; }
  .tile-list .news-block .date-block {
    margin-bottom: 20px; }

.logo-block-footer {
  display: inline-block; }
  .logo-block-footer .logo-item {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px; }

.social-media-block {
  display: inline-block; }
  .social-media-block .title-before {
    display: none; }
  .social-media-block .social-media-list {
    display: inline-block; }
    .social-media-block .social-media-list-item {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin-left: 17px; }
      .social-media-block .social-media-list-item:first-child {
        margin-left: 0; }

.form-field {
  position: relative;
  box-sizing: border-box; }

.dropdown-menu-sitemap {
  display: none; }

.dropdown-menu-search .dropdown-menu-search-inner {
  padding: 20px; }
.dropdown-menu-search .search {
  height: 30px;
  width: 100%; }
.dropdown-menu-search .button-submit {
  position: absolute;
  top: 5px;
  right: 0;
  width: 25px;
  height: 22px; }

.search-block-footer {
  margin-top: 15px; }
  .search-block-footer .search {
    height: 30px;
    width: 100%; }
  .search-block-footer .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px; }

.menu-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 2.7777777778%;
  padding-right: 2.7777777778%; }
  .menu-column:last-child {
    margin-top: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: right;
    padding-left: 2.7777777778%;
    padding-right: 2.7777777778%; }
  .menu-column li {
    margin-top: 10px; }
    .menu-column li:first-child {
      margin-top: 0; }

@media (min-width: 380px) {
  .header .logo-block .company-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px; } }
@media (min-width: 480px) {
  .tile-list-item .title-block .archive-icon {
    margin: 30% auto 0 auto; }
  .tile-list-item .title-block .work-icon {
    margin: 15% auto 0 auto; } }
@media (min-width: 600px) {
  .tile-list-item {
    margin-bottom: 15px; }
    .tile-list-item .title-block .archive-icon {
      margin: 30% auto 0 auto; }
    .tile-list-item .title-block .work-icon {
      margin: 20% auto 0 auto; }
  .tile-list .horizontal-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left; }
  .tile-list .vertical-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left; }
  .tile-list .vk,
  .tile-list .facebook {
    margin-bottom: 6px; }
  .tile-list .work .no-dot-title {
    margin-top: 40px; } }
@media (min-width: 720px) {
  .header .top-menu-block .top-menu-list .sitemap {
    display: inline-block; }

  .dropdown-menu-search {
    width: 100%; }
    .dropdown-menu-search .dropdown-menu-search-inner {
      padding: 25px; }
    .dropdown-menu-search .form-field {
      width: 571px;
      margin: 0 auto; }

  .tile-list {
    max-width: 100%; }
    .tile-list-item {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left; }
    .tile-list .ai,
    .tile-list .center,
    .tile-list .news-first,
    .tile-list .social-media-block {
      padding-right: 7px; }
    .tile-list .office-process,
    .tile-list .agency,
    .tile-list .news-archive,
    .tile-list .work {
      padding-left: 7px; }
    .tile-list .taxes {
      position: relative;
      width: 100%; }
    .tile-list .vk {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      margin-bottom: 0;
      padding-right: 7px; }
    .tile-list .facebook {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: right;
      margin-bottom: 0;
      padding-left: 7px; }
    .tile-list .instagram {
      margin-top: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left; }

  .logo-block-footer {
    float: left; }
    .logo-block-footer .logo-item {
      margin-right: 35px; }

  .social-media-block {
    float: right; }

  .menu-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.3888888889%;
    padding-right: 1.3888888889%;
    margin-top: 30px; }
    .menu-column:last-child {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: right;
      padding-left: 1.3888888889%;
      padding-right: 1.3888888889%;
      margin-top: 30px; }

  .search-block-footer {
    margin-top: 30px; } }
@media (min-width: 960px) {
  .one-column {
    display: none; }

  .two-columns {
    display: block;
    padding-bottom: 85px; }

  .first-column {
    max-width: 564px;
    float: left; }

  .second-column {
    max-width: 564px;
    float: right; }

  .menu-block-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.3333333333%;
    float: left;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%; }

  .menu-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25.7142857143%;
    float: left;
    padding-left: 1.1904761905%;
    padding-right: 1.1904761905%;
    margin-top: 55px; }
    .menu-column:last-child {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 48.5714285714%;
      float: right;
      padding-left: 1.1904761905%;
      padding-right: 1.1904761905%;
      margin-top: 55px; }

  .logo-block-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 45.8333333333%;
    float: left;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%; }
    .logo-block-footer .logo-item {
      margin-right: 20px; }

  .social-media-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 54.1666666667%;
    float: right;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%;
    text-align: right; }
    .social-media-block .title-before {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      margin-right: 20px; }
    .social-media-block .social-media-list {
      display: table-cell; }

  .search-block-footer {
    margin-top: 55px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.6666666667%;
    float: right;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%; }
    .search-block-footer .search {
      height: 30px;
      width: 100%; }
    .search-block-footer .button-submit {
      position: absolute;
      top: 5px;
      right: 0;
      width: 25px;
      height: 22px; } }
@media (min-width: 1200px) {
  .header .top-menu-block .navigation-list {
    display: inline-block; }
    .header .top-menu-block .navigation-list-item {
      display: table-cell;
      text-transform: uppercase;
      height: 75px;
      vertical-align: middle;
      color: #fff;
      font-size: 13px; }
    .header .top-menu-block .navigation-list .navigation-list-item::before {
      padding-right: 10px;
      padding-left: 10px;
      content: "•";
      color: #bed33f;
      font-size: 14px;
      font-weight: 600; }
    .header .top-menu-block .navigation-list .navigation-list-item:first-child:before {
      content: " "; }

  .dropdown-menu-search .dropdown-menu-search-inner {
    padding: 25px; }
  .dropdown-menu-search .form-field {
    width: 571px;
    float: right;
    margin-right: 75px; }

  .tile-list-item {
    margin-bottom: 12px; }
  .tile-list .news-first .background,
  .tile-list .news-second .background,
  .tile-list .news-third .background,
  .tile-list .news-fourth .background,
  .tile-list .news-first-description .background {
    height: 277px; }
  .tile-list .vk .background,
  .tile-list .facebook .background {
    height: 133px; }
  .tile-list .instagram {
    margin-top: 12px; }
  .tile-list .social-media-block {
    padding-left: 0; }

  .menu-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 21.4285714286%;
    float: left;
    padding-left: 1.1904761905%;
    padding-right: 1.1904761905%; }
    .menu-column:last-child {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 57.1428571429%;
      float: right;
      padding-left: 1.1904761905%;
      padding-right: 1.1904761905%; }

  .logo-block-footer .logo-item {
    margin-right: 60px; }

  .social-media-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 37.5%;
    float: right;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%;
    text-align: left; }
    .social-media-block .title-before {
      padding-right: 35px;
      font-size: 18px;
      font-weight: 600; }

  .search-block-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 37.5%;
    float: right;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%; } }
.clearfix {
  overflow: hidden;
  clear: both; }
  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.main-content-wrapper,
.header-inner,
.footer-bottom-inner,
.footer-main-inner {
  max-width: 1140px;
  margin: 0 auto; }

.padding-general {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-general-header {
  padding-left: 10px;
  padding-right: 10px; }

.padding-general-footer-bottom {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-general-page-title-block {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.primary-color {
  background-color: #6e7073; }

.primary-color-dark {
  background-color: #424750; }

.primary-color-light {
  background-color: #e2e2e2; }

.secondary-color-green {
  background-color: #bed33f; }

.tile-list-item .title {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  padding: 10px 5px; }

.tile-list-item .no-dot-title {
  font-size: 12px;
  text-align: center; }

.vertical-block .date-block {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px; }

.horizontal-block .short-description {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px; }

.font-white {
  color: #fff; }

.font-black {
  color: #000; }

a {
  text-decoration: none;
  color: #7a7a7a;
  cursor: pointer; }
  .breadcrumb-block a:hover {
    color: #587daa; }
  .menu-block-footer a {
    color: #fff; }
    .menu-block-footer a:hover {
      color: #bed33f; }
  .parent-menu a {
    color: #000; }

.horizontal-block .button-detail {
  background-color: #bed33f;
  color: #fff;
  border: none;
  padding: 12px 50px;
  text-transform: uppercase;
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600; }
.vertical-block .button-detail {
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 50px;
  text-transform: uppercase;
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600; }

@media (min-width: 360px) {
  .tile-list-item .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    padding: 10px 10px; }

  .tile-list-item .no-dot-title {
    font-size: 14px; } }
@media (min-width: 480px) {
  .tile-list-item .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    padding: 10px; }

  .tile-list-item .no-dot-title {
    font-size: 18px; } }
@media (min-width: 600px) {
  .tile-list-item .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 20px 20px 40px;
    text-indent: -20px; }

  .tile-list-item .title::before {
    padding-right: 10px;
    content: "•";
    color: #bed33f;
    font-size: 24px;
    font-weight: 600; }

  .tile-list-item .no-dot-title {
    font-size: 20px; } }
@media (min-width: 720px) {
  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 75px;
    padding-right: 75px; }

  .horizontal-block .short-description {
    font: 400 15px/18px "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px; } }
@media (min-width: 1200px) {
  .horizontal-block .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px 20px 20px 40px;
    text-indent: -20px; }
  .title .vertical-block {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px 20px 20px 40px;
    text-indent: -20px; }

  .horizontal-block .title::before {
    padding-right: 10px;
    content: "•";
    color: #bed33f;
    font-size: 32px;
    font-weight: 600; }
  .vertical-block .title::before {
    padding-right: 10px;
    content: "•";
    color: #bed33f;
    font-size: 18px;
    font-weight: 600; }

  .tile-list-item .no-dot-title {
    font-size: 32px; }

  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 30px;
    padding-right: 30px; }

  .padding-general {
    padding-top: 45px;
    padding-bottom: 45px; }

  .horizontal-block .button-detail {
    background-color: #bed33f;
    color: #fff;
    border: none;
    padding: 5px 30px;
    text-transform: uppercase;
    font: 400 15px/18px "Open Sans", sans-serif;
    font-weight: 600; }
  .vertical-block .button-detail {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 30px;
    text-transform: uppercase;
    font: 400 15px/18px "Open Sans", sans-serif;
    font-weight: 600; } }
html,
body {
  padding: 0;
  font: 400 15px/18px "Open Sans", sans-serif; }

h1 {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 34px/38px; }

ul {
  list-style: none;
  padding: 0; }
  .parent-menu ul {
    list-style-type: disc; }

.owl_carousel_simple {
  padding: 20px 0; }
  .owl_carousel_simple .owl-nav {
    position: absolute;
    top: calc(50% - 30px);
    z-index: 1; }
  .owl_carousel_simple .owl-dots {
    text-align: center; }
    .owl_carousel_simple .owl-dots span {
      border-radius: 100%; }

.header .logo-block .company-name {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600; }
.header .logo-block .main-logo {
  background: url(../images/logo-main.png) no-repeat center center; }
.header .top-menu-list {
  font-size: 0; }
  .header .top-menu-list .navigation {
    background: url(../images/icon-navigation.png) no-repeat center center; }
    .header .top-menu-list .navigation:hover {
      background: #bed33f url(../images/icon-navigation-white.png) no-repeat center center; }
  .header .top-menu-list .sitemap {
    background: url(../images/icon-sitemap.png) no-repeat center center; }
    .header .top-menu-list .sitemap:hover {
      background: #bed33f url(../images/icon-sitemap-white.png) no-repeat center center; }
  .header .top-menu-list .search {
    background: url(../images/icon-search.png) no-repeat center center; }
    .header .top-menu-list .search:hover {
      background: #bed33f url(../images/icon-search-white.png) no-repeat center center; }

.dropdown-menu-list .dropdown-menu-navigation {
  background-color: #bed33f; }
  .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li {
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #000; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li:hover {
      background-color: #ecf2c6; }
  .dropdown-menu-list .dropdown-menu-navigation .child-menu {
    padding-left: 35px; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu li:hover {
      color: #fff; }
.dropdown-menu-list .dropdown-menu-search {
  background-color: #bed33f; }

.main-content {
  background: #dedede;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 );
  /* IE6-9 */ }
  .main-content .one-column {
    padding-bottom: 65px;
    padding-left: 5px;
    padding-right: 5px; }
  .main-content .main-page-slider {
    padding-right: 10px;
    padding-left: 10px; }
  .main-content .page-title-block {
    background-color: #e2e2e2; }
  .main-content .breadcrumb-block {
    padding-top: 35px; }
  .main-content .dropdown-menu {
    font: 400 15px/18px "Open Sans", sans-serif;
    box-shadow: 0 2px 4px #a0a0a0; }
    .main-content .dropdown-menu li {
      text-indent: 0px; }
    .main-content .dropdown-menu li::before {
      padding-right: 10px;
      content: "•";
      color: #fff;
      font: 400 15px/18px "Open Sans", sans-serif; }
  .main-content .work li::before {
    padding-right: 10px;
    content: "•";
    color: #fff;
    font: 400 15px/18px "Open Sans", sans-serif; }
  .main-content .ai:hover {
    background: #216c8a; }
  .main-content .news-first:hover {
    cursor: pointer;
    background: #dd9665; }
  .main-content .news-archive:hover {
    cursor: pointer;
    background: #496299; }
  .main-content .tile-list .horizontal-block .expanded-description-block {
    padding: 25px 30px;
    background-color: #fff; }
  .main-content .tile-list .vertical-block .expanded-description-block {
    padding: 15px 30px; }
  .main-content .tile-list .news-second-expanded-description-inner,
  .main-content .tile-list .news-third-expanded-description-inner,
  .main-content .tile-list .news-fourth-expanded-description-inner {
    padding: 75px 25px 75px 40px; }
  .main-content .tile-list .news-block .expanded-description-block {
    padding: 85px 30px 0 30px; }
  .main-content .tile-list .news-block .date-block {
    background: url(../images/icon-calendar-white.png) no-repeat 0 center;
    padding-left: 25px; }
  .main-content .tile-list .news-second .date-block {
    background: url(../images/icon-calendar.png) no-repeat 0 center; }
  .main-content .tile-list .news-fourth:hover {
    background: #16b9b7; }
  .main-content .tile-list .news-fourth .date-block {
    background: url(../images/icon-calendar-white.png) no-repeat 0 center; }
  .main-content .tile-list .news-third .date-block {
    background: url(../images/icon-calendar.png) no-repeat 0 center; }
  .main-content .tile-list .media-archive-title {
    padding: 25px 30px; }

.rewards-title {
  font-size: 32px;
  font-weight: 300; }

.footer-bottom {
  color: #fff;
  text-align: center; }

.logo-block-footer {
  vertical-align: top; }
  .logo-block-footer .logo-item {
    vertical-align: top; }

.social-media-list-item {
  border-radius: 50%; }
.social-media-list .facebook {
  background: #bed33f url(../images/icon-facebook-white.png) no-repeat center center; }
.social-media-list .vk {
  background: #bed33f url(../images/icon-wk-white.png) no-repeat center center; }
.social-media-list .inst {
  background: #bed33f url(../images/icon-inst-white.png) no-repeat center center; }

.search-block-footer .search,
.dropdown-menu-search .search {
  border-radius: 3px;
  padding-left: 15px; }
.search-block-footer .button-submit,
.dropdown-menu-search .button-submit {
  background-color: transparent;
  border: none;
  background: url(../images/icon-search-form.png) no-repeat 0 0; }

.menu-column {
  padding: 0; }
  .menu-column:last-child {
    padding: 0; }

@media (min-width: 720px) {
  .one-column {
    padding-left: 25px;
    padding-right: 25px; }

  .footer-main {
    padding-top: 55px;
    padding-bottom: 50px; }

  .footer-bottom {
    padding-top: 55px;
    padding-bottom: 55px; }

  .main-content .tile-list .horizontal-block .expanded-description-block {
    padding: 25px 75px 25px 30px; }

  .dropdown-menu li {
    text-indent: -17px; } }

/*# sourceMappingURL=main.css.map */
