@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'freesetblackcregular';
  src: url('../fonts/pt_freeset_black_cyrillic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}

@import '_variables';

@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 3,
  gutters: 0.15,
  math: fluid,
  output: float
);

$susy_desktop: (
  columns: 12,
  gutters: 0.15,
  math: fluid,
  output: float
);