@import '../config/_base';

h1 {
  font: $font-base;
  font-weight: 600;
  font-size: 18px;
}
.clearfix {
  &::before,
  &::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

//Background colors
.primary-color {
  background-color: $bg-primary;
}
.primary-color-dark {
  background-color: $bg-primary-dark;
}
.primary-color-light {
  background-color: $bg-primary-light;
}
.secondary-color-green {
  background-color: $bg-dropdown;
}

// Fonts
.no-dot-title {
  .tile-list-item & {
    font-size: 12px;
    text-align: center;
  }
}
.date-block {
  .font-black & {
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    background: url(../images/icon-calendar.png) no-repeat 0 center;
  }
  .font-white & {
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    background: url(../images/icon-calendar-white.png) no-repeat 0 center;
  }
}
.short-description {
  .horizontal-block & {
    font: $font-base;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }
}
.font-white {
  color: $white;
  a {
    color: $white;
  }
}
.font-black {
  color: $black;
  a {
    color: $black;
  }
}

.font-label-small {
  font: $font-label-small-mobile;
}
.font-label {
  font: $font-label-mobile;
}
.font-label-big {
  font: $font-label-big-mobile;
}
.font-semibold {
  font-weight: 600;
}
// Links
a {
  text-decoration: none;
  color: $link-primary;
  cursor: pointer;
  .breadcrumb-block & {
    color: $link-primary-pressed;
    &:last-child {
      color: $link-primary;
    }
  }
  .menu-block-footer & {
    color: $white;
    &:hover {
      color: $link-secondary-pressed;
    }
  }
  .parent-menu & {
    color: $black;
  }
}
.breadcrumb-block {
  span {
    color: $link-primary;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//Buttons
//.button-detail {
//  .horizontal-block & {
//    background-color: $green;
//    color: $white;
//    border: none;
//    padding: 12px 50px;
//    text-transform: uppercase;
//    font: $font-base;
//    font-weight: 600;
//  }
//  .vertical-block & {
//    color: $white;
//    border: 1px solid $white;
//    padding: 12px 50px;
//    text-transform: uppercase;
//    font: $font-base;
//    font-weight: 600;
//  }
//}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px 30px 7px;
  &.border {
    border: 2px solid $green;
    color: $green;
    &:hover {
      color: $white;
      background: $green;
    }
    &.white {
      border-color: $white;
      color: $white;
      &:hover {
        color: $white;
        border-color: $green;
        background: $green;
      }
    }
  }
}

@include breakpoint(360px, 3) {
  // Fonts
  .title {
    .tile-list-item & {
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      padding: 10px 10px;
    }
  }
  .no-dot-title {
    .tile-list-item & {
      font-size: 14px;
    }
  }
}
@include breakpoint(480px, 3) {
  h1 {
    font: $font-base;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
  }
  .title {
    .tile-list-item & {
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      padding: 10px;
    }
  }
  .no-dot-title {
    .tile-list-item & {
      font-size: 18px;
    }
  }
}
@include breakpoint(600px, 6) {
  h1 {
    font: $font-base;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
  }
  .title {
    .tile-list-item & {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      padding: 20px 20px 20px 40px ;
      text-indent: -20px;
    }
  }
  .title::before {
    .tile-list-item & {
      padding-right: 10px;
      content: "•";
      color: $green;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .no-dot-title {
    .tile-list-item & {
      font-size: 20px;
    }
  }
}
@include breakpoint(720px, 6) {
  .page-image {
    margin-bottom: 55px;
  }
  h1 {
    font: $font-base;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px;
  }
  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 75px;
    padding-right: 75px;
  }
  .short-description {
    .horizontal-block & {
      font: $font-base;
      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
    }
  }


  .font-label-small {
    font: $font-label-small;
  }
  .font-label {
    font: $font-label;
  }
  .font-label-big {
    font: $font-label-big;
  }
  .font-huge {
    font: $font-huge;
  }
  .font-semibold {
    font-weight: 600;
  }
  .font-bold {
    font-weight: 700;
  }
}
@include breakpoint(960px, 12) {

}
@include breakpoint(1200px, 12) {
  .title {
    .horizontal-block & {
      font-size: 32px;
      font-weight: 600;
      line-height: 32px;
      padding: 20px 20px 20px 40px ;
      text-indent: -20px;
    }
    .vertical-block {
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      padding: 20px 20px 20px 40px ;
      text-indent: -20px;
    }
  }
  .title::before {
    .horizontal-block & {
      padding-right: 10px;
      content: "•";
      color: $green;
      font-size: 32px;
      font-weight: 600;
    }
    .vertical-block & {
      padding-right: 10px;
      content: "•";
      color: $green;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .no-dot-title {
    .tile-list-item & {
      font-size: 32px;
    }
  }
  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 30px;
    padding-right: 30px;
  }
  .padding-general {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .button-detail {
    .horizontal-block & {
      background-color: $green;
      color: $white;
      border: none;
      padding: 5px 30px;
      text-transform: uppercase;
      font: $font-base;
      font-weight: 600;
    }
    .vertical-block & {
      color: $white;
      border: 1px solid $white;
      padding: 5px 30px;
      text-transform: uppercase;
      font: $font-base;
      font-weight: 600;
    }
  }
}
