//@font-face {
//  font-family: FreeSetBlackC;
//  src:  url('FreeSetBlackC.otf');
//}

@import '../config/_base';

// Main tags styles
html,
body {
  padding: 0;
  font: $font-base;
  background: #dedede; /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%,#e2e4da 45%,#dfe2cc 66%,#d7dfa7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%,#e2e4da 45%,#dfe2cc 66%,#d7dfa7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 ); /* IE6-9 */
}
ul {
  list-style: none;
  padding: 0;
  .parent-menu & {
    list-style-type: disc;
  }
}

// Page styles
.content-wrapper {
  background-color: $white;
  padding: 65px 5px;
}
.description-html-safe {
  ul {
    list-style-type: disc;
    padding-left: 17px;
    li {
      ul {
        padding-left: 0;
        list-style: none;
      }
    }
  }
  a {
    color: #085799;
  }
}
.main-table {
  .pdf-link {
    padding-left: 20px;
    background: url(../images/icon-pdf-link.png) no-repeat 0 center;
  }
  th {
    text-align: left;
    padding-bottom: 15px;
    padding-left: 10px;
    vertical-align: top;
  }
  .section-title {
    text-align: center;
    background-color: $green;
    color: $white;
    td {
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: 600;
    }
  }
  .section-item {
    a {
      color: #085799;
    }
    td {
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      vertical-align: top;
      border-top: 2px solid $white;
      border-bottom: 2px solid $white;
    }
    &:hover {
      background-color: #efefef;
    }
    .license-number {
      width: 20%;
    }
    .nomination {
      width: 35%;
    }
    .agency {
      width: 35%;
    }
    .license {
      width: 10%;
      padding-right: 10px;
    }
  }
}
.owl_carousel_simple {
  .owl-nav {
    position: absolute;
    top: calc(50% - 15px);
    z-index: 1;
    [class*='owl-'] {
    }
    button {
      &.owl-prev {
        background: url('../images/arrow-prev.png') no-repeat 0 0;
        left: 0;
      }
      &.owl-next {
        background: url('../images/arrow-next.png') no-repeat 0 0;
        right: 0;
      }
    }
  }

  .owl-dots {
    position: absolute;
    text-align: center;

    span {
      border-radius: 100%;
    }

    .owl-dot {
      &.active {
        span {
        }
      }
    }
  }
}

.main-slider {
  .slider-text-block,
  .slider-image-block {
    vertical-align: middle;
  }
}

//Header styles
.header {
  .logo-block {
    .company-name {
      text-transform: uppercase;
      color: $white;
      font-weight: 600;
    }
    .main-logo {
      background: url(../images/logo-main.png) no-repeat center center;
    }
  }
  .top-menu-list {
    font-size: 0;
    .navigation {
      background: url(../images/icon-navigation.png) no-repeat center center;
      &:hover {
        background: $green url(../images/icon-navigation-white.png) no-repeat center center;
      }
    }
    .sitemap {
      background: url(../images/icon-sitemap.png) no-repeat center center;
      &:hover {
        background: $green url(../images/icon-sitemap-white.png) no-repeat center center;
      }
    }
    .search {
      background: url(../images/icon-search.png) no-repeat center center;
      &:hover {
        background: $green url(../images/icon-search-white.png) no-repeat center center;
      }
    }
  }
}

//Top dropdown-menu styles
.dropdown-menu-list {
  .dropdown-menu-navigation {
    background-color: $green;
    .parent-menu {
      > li {
        text-transform: uppercase;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 1px solid $black;
        &:hover {
          background-color: $bg-dropdown-li-hover;
        }
      }
    }
    .child-menu {
      padding-left: 35px;

      li {
        &:hover {
          color: $white;
        }
      }
    }
  }
  .dropdown-menu-search {
    background-color: $green;
  }
}

//Main content styles

.main-content {

  .one-column {
    padding-bottom: 65px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-page-slider {
    padding-right: 10px;
    padding-left: 10px;
  }
  .breadcrumb-block {
    padding-top: $padding-breadcrumb-top;
  }
  .dropdown-menu {
    font: $font-base;
    box-shadow: 0 2px 4px $grey;
    li {
      text-indent: $text-indent-li-bullet-mobile;
    }
    li::before {
      padding-right: $padding-li-bullet;
      content: "•";
      color: $white;
      font: $font-base;
    }
  }
  .work {
    li::before {
      padding-right: $padding-li-bullet;
      content: "•";
      color: $white;
      font: $font-base;
    }
  }
  .ai {
    &:hover {
      background: #216c8a;
    }
  }
  .news-first {
    &:hover {
      cursor: pointer;
      background: #dd9665;
    }
  }
  .news-archive {
    &:hover {
      cursor: pointer;
      background: #496299;
    }
  }
}
.rewards-title {
  font-size: 32px;
  font-weight: 300;
}
//Footer styles
.footer-bottom {
  color: $white;
  text-align: center;
}
.logo-block-footer {
  vertical-align: top;
  .logo-item {
    vertical-align: top;
  }
}
.social-media-list {
  &-item {
    border-radius: 50%;
  }
  .facebook {
    background: $green url(../images/icon-facebook-white.png) no-repeat center center;
  }
  .vk {
    background: $green url(../images/icon-wk-white.png) no-repeat center center;
  }
  .inst {
    background: $green url(../images/icon-inst-white.png) no-repeat center center;
  }
}
.search-block-footer,
.dropdown-menu-search {
  .search {
    border-radius: 3px;
    padding-left: 15px;
  }
  .button-submit {
    background-color: transparent;
    border: none;
    background: url(../images/icon-search-form.png) no-repeat 0 0;
  }
}
.menu-column {
  padding: 0;
  &:last-child {
    padding: 0;
  }
}

@include breakpoint(480px, 3) {
  // Page styles
  .content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@include breakpoint(600px, 6) {
  //Page styles
  .content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  //Main page styles
  .main-content {
    .one-column {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@include breakpoint(700px, 6) {
  //Page styles
  .content-wrapper {
    padding-left: 75px;
    padding-right: 75px;
  }
  .page-title-wrapper {
    padding-left: 75px;
    padding-right: 75px;
  }
  // Main page styles
  .main-content {
    .one-column {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .footer-main {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .footer-bottom {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .main-content {
    .tile-list {
      .horizontal-block {
        .expanded-description-block {
          padding: 25px 75px 25px 30px;
        }
      }
    }
  }
  .dropdown-menu {
    li {
      text-indent: $text-indent-li-bullet;
    }
  }

  .main-slider {
    .slider-text-block {
      padding-left: span(1 of 12);
      padding-right: span(0.5 of 12);
    }
  }
}

@include breakpoint(960px, 12) {
  //Page styles
  .content-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .page-title-wrapper {
    padding: 55px 60px;
  }
  .page-title-inscription {
    text-transform: uppercase;
    color: #6e7073;
  }
}
@include breakpoint(1200px, 12) {
  .main-content {
    padding-bottom: 85px;
  }
}

