//@font-face {
//  font-family: FreeSetBlackC;
//  src:  url('FreeSetBlackC.otf');
//}

@import '../config/_base';

// Main tags styles
html,
body {
  padding: 0;
  font: $font-base;
}
h1 {
  font: $font-base;
  font-weight: 600;
  font-size: 34px/38px;
}
ul {
  list-style: none;
  padding: 0;
  .parent-menu & {
    list-style-type: disc;
  }
}
.owl_carousel_simple {
  .owl-nav {
    position: absolute;
    top: calc(50% - 15px);
    z-index: 1;
    [class*='owl-'] {
    }
    button {
      &.owl-prev {
        background: url('../images/arrow-prev.png') no-repeat 0 0;
        left: 0;
      }
      &.owl-next {
        background: url('../images/arrow-next.png') no-repeat 0 0;
        right: 0;
      }
    }
  }

  .owl-dots {
    position: absolute;
    text-align: center;

    span {
      border-radius: 100%;
    }

    .owl-dot {
      &.active {
        span {
        }
      }
    }
  }
}

.main-slider {
  .slider-text-block,
  .slider-image-block {
    vertical-align: middle;
  }
}

//Header styles
.header {
  .logo-block {
    .company-name {
      text-transform: uppercase;
      color: $white;
      font-weight: 600;
    }
    .main-logo {
      background: url(../images/logo-main.png) no-repeat center center;
    }
  }
  .top-menu-list {
    font-size: 0;
    .navigation {
      background: url(../images/icon-navigation.png) no-repeat center center;
      &:hover {
        background: $green url(../images/icon-navigation-white.png) no-repeat center center;
      }
    }
    .sitemap {
      background: url(../images/icon-sitemap.png) no-repeat center center;
      &:hover {
        background: $green url(../images/icon-sitemap-white.png) no-repeat center center;
      }
    }
    .search {
      background: url(../images/icon-search.png) no-repeat center center;
      &:hover {
        background: $green url(../images/icon-search-white.png) no-repeat center center;
      }
    }
  }
}

//Top dropdown-menu styles
.dropdown-menu-list {
  .dropdown-menu-navigation {
    background-color: $green;
    .parent-menu {
      > li {
        text-transform: uppercase;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 1px solid $black;
        &:hover {
          background-color: $bg-dropdown-li-hover;
        }
      }
    }
    .child-menu {
      padding-left: 35px;

      li {
        &:hover {
          color: $white;
        }
      }
    }
  }
  .dropdown-menu-search {
    background-color: $green;
  }
}

//Main content styles
.main-content {
  .one-column {
    padding-bottom: 65px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-page-slider {
    padding-right: 10px;
    padding-left: 10px;
  }
  background: #dedede; /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%,#e2e4da 45%,#dfe2cc 66%,#d7dfa7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%,#e2e4da 45%,#dfe2cc 66%,#d7dfa7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 ); /* IE6-9 */
  .page-title-block {
    background-color: $bg-primary-light;
  }
  .breadcrumb-block {
    padding-top: $padding-breadcrumb-top;
  }
  .dropdown-menu {
    font: $font-base;
    box-shadow: 0 2px 4px $grey;
    li {
      text-indent: $text-indent-li-bullet-mobile;
    }
    li::before {
      padding-right: $padding-li-bullet;
      content: "•";
      color: $white;
      font: $font-base;
    }
  }
  .work {
    li::before {
      padding-right: $padding-li-bullet;
      content: "•";
      color: $white;
      font: $font-base;
    }
  }
  .ai {
    &:hover {
      background: #216c8a;
    }
  }
  .news-first {
    &:hover {
      cursor: pointer;
      background: #dd9665;
    }
  }
  .news-archive {
    &:hover {
      cursor: pointer;
      background: #496299;
    }
  }
  .tile-list {
    .ai,
    .center,
    .news-first,
    .social-media-block {
      padding-right: 2px;
    }

    .office-process,
    .agency,
    .news-archive,
    .work {
      padding-left: 2px;
    }
    .horizontal-block {
      .expanded-description-block {
        padding: 25px 30px;
        background-color: $white;
      }
    }
    .vertical-block {
      .expanded-description-block {
        padding: 15px 30px;
      }
    }
    .news-second-expanded-description-inner,
    .news-third-expanded-description-inner,
    .news-fourth-expanded-description-inner {
      padding: 75px 25px 75px 40px;
    }
    .news-block {
      .expanded-description-block {
        padding: 85px 30px 0 30px;
      }
      .date-block {
        background: url(../images/icon-calendar-white.png) no-repeat 0 center;
        padding-left: 25px;
      }
    }
    .news-second {
      .date-block {
        background: url(../images/icon-calendar.png) no-repeat 0 center;
      }
    }
    .news-fourth {
      &:hover {
        background: #16b9b7;
      }
      .date-block {
        background: url(../images/icon-calendar-white.png) no-repeat 0 center;
      }
    }
    .news-third {
      .date-block {
        background: url(../images/icon-calendar.png) no-repeat 0 center;
      }
    }
    .media-archive-title {
      padding: 25px 30px;
    }
    .half-horizontal {
      .title-block {
        position: static;
      }
    }
    .back_white {
      .tile-inner {
        background: $white;
      }
    }
  }
}
.rewards-title {
  font-size: 32px;
  font-weight: 300;
}
//Footer styles
.footer-bottom {
  color: $white;
  text-align: center;
}
.logo-block-footer {
  vertical-align: top;
  .logo-item {
    vertical-align: top;
  }
}
.social-media-list {
  &-item {
    border-radius: 50%;
  }
  .facebook {
    background: $green url(../images/icon-facebook-white.png) no-repeat center center;
  }
  .vk {
    background: $green url(../images/icon-wk-white.png) no-repeat center center;
  }
  .inst {
    background: $green url(../images/icon-inst-white.png) no-repeat center center;
  }
}
.search-block-footer,
.dropdown-menu-search {
  .search {
    border-radius: 3px;
    padding-left: 15px;
  }
  .button-submit {
    background-color: transparent;
    border: none;
    background: url(../images/icon-search-form.png) no-repeat 0 0;
  }
}
.menu-column {
  padding: 0;
  &:last-child {
    padding: 0;
  }
}
@include breakpoint(600px, 6) {
  .main-content {
    .one-column {
      padding-left: 15px;
      padding-right: 15px;
    }
    .tile-list {
      .ai,
      .center,
      .news-first {
        padding-right: 7px;
      }

      .social-media-block {
        padding-left: 0;
      }

      .office-process,
      .agency,
      .news-archive,
      .work {
        padding-left: 7px;
      }
      .vk {
        padding-right: 7px;
      }
      .facebook {
        padding-left: 7px;
      }
    }
  }
}
@include breakpoint(720px, 6) {
  .main-content {
    .one-column {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .footer-main {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .footer-bottom {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .main-content {
    .tile-list {
      .horizontal-block {
        .expanded-description-block {
          padding: 25px 75px 25px 30px;
        }
      }
    }
  }
  .dropdown-menu {
    li {
      text-indent: $text-indent-li-bullet;
    }
  }

  .main-slider {
    .slider-text-block {
      padding-left: span(1 of 12);
      padding-right: span(0.5 of 12);
    }
  }
}

@include breakpoint(960px, 12) {
  .tile-list {
    .half-vertical {
      .left-block {
        vertical-align: top;
        padding-right: 7px;
      }
      .right-block {
        vertical-align: top;
        padding-left: 7px;
      }
      .text-block {
        vertical-align: middle;
      }
    }
    .tile-list-item {
      &.first {
        padding-right: 7px;
      }
      &.last {
        padding-left: 7px;
      }
    }
  }
}

@include breakpoint(1200px, 12) {

}

