@import '../config/_base';
@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

// Строчные
.main-content-wrapper {
  background: white;
}

.menu-open {
  background: $green;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
}

.additional-menu {
  background: $green;
  padding: 25px 0;

  .top-blur-block {
    background: linear-gradient(to bottom, $green, rgba(0,0,0,0));
  }

  .bottom-blur-block {
    background: linear-gradient(to top, $green, rgba(0,0,0,0));
  }

  ul {
    padding: 20px 0px;
    font-size: 17px;
    list-style: disc inside;

    li {
      padding: 10px 0px;
      padding-left: 10px;
      cursor: pointer;
      color: $white;

      &.pushy-submenu-open{
        padding-bottom: 0;

        > a::after,
        > button::after {
          color: $white;
        }

        button a {
          color: $white;
        }
      }

      &.pushy-submenu {
        a {
          color: $black;
        }

        &:hover {
          > a::after,
          > button::after {
            color: $white;
          }

          a {
            color: $black;
          }

          button a {
            color: $white;
          }
        }
      }

      button {
        a {
          font-size: 17px;
        }

        &:hover {
          color: $green;
          color: $black;

          a {
            color: $white;
          }
        }
      }

      &:hover {
        color: $white;

        a {
          color: $white;
        }
      }

      a {
        color: $black;
      }
    }
  }
}

.users-list {
  padding: 0px 20px;
  .users-list-item {
    text-align: center;
    .user-data {
      a {
        font-size: 13px;
        color: $link-primary-pressed;
        &:hover {
          color: $link-primary;
        }
      }
    }
    .user-name {
      font-size: 15px;
      font-weight: bold;
      span {
        display: block;
      }
    }
    .user-position {
      font-size: 13px;
    }
  }
}
@include breakpoint(720px, 6) {
  .additional-menu {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@include breakpoint(960px, 12) {
  .main-content-wrapper {
    background: white;
    padding: 0px 40px;
  }
  
  .menu-open {
    display: none;
  }

  .additional-menu {
    background: none;
    overflow: visible;
    .menu-header {
      background: $bg-primary-light;
      padding: 5px 5px 5px 30px;
      text-transform: uppercase;
    }

    ul {
      li {
        color: $green;

        a {
          color: $black;
        }

        &:hover {
          color: $white;
          background: $green;
        }

        &.pushy-submenu {
          &:hover {
            color: $black;
            background: $white;

            > a::after,
            > button::after {
              color: $white;
            }

            button {
              position: relative;

              &::before {
                content: '';
                display: list-item;
                position: absolute;
                background: $green;
                width: 143%;
                height: 140%;
                z-index: 0;
                margin-left: -34px;
                top: -10px;
                font-size: 20px;
                color: $white;
                padding-left: 10px;
                padding-top: 8px;
              }

              a {
                position: relative;
              }
            }
          }
        }
      }

      li {
        &.pushy-submenu-open{
          padding-bottom: 0;

          > a::after,
          > button::after {
            color: $white;
          }

          button {
            &::before {
              background: $green;
              font-size: 20px;
              color: $white;
              padding-left: 10px;
              padding-top: 8px;
            }

            a {
              color: $white;
            }
          }
        }
        &.pushy-submenu-closed {
          color: $green;

          a {
            color: $black;
          }

          > a::after,
          > button::after {
            color: $green
          }
        }

        button {
          a {
            font-size: 17px;
          }

          &:hover {
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
  .additional-menu {
    overflow: visible;

    ul {
      li {
        &.pushy-submenu {
          &:hover {
            button {
              position: relative;

              &::before {
                content: '';
                display: list-item;
                position: absolute;
                width: 143%;
                height: 140%;
                z-index: 0;
                margin-left: -34px;
                top: -10px;
                padding-left: 10px;
                padding-top: 8px;
              }

              a {
                position: relative;
              }
            }
          }
        }
      }

      li {
        &.pushy-submenu-open{
          button {
            position: relative;

            &::before {
              content: '';
              display: list-item;
              position: absolute;
              width: 143%;
              height: 140%;
              z-index: 0;
              margin-left: -34px;
              top: -10px;
            }

            a {
              position: relative;
            }
          }
        }
        > ul {
          height: auto;
        }

        button {
          width: 80%;

          a {
            margin: 0;
          }
        }
      }
    }
  }
}
