@import '../config/_base';
@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

// Строчные
.main-content-wrapper {
  background: white;
}

.menu-open {
  background: $green;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
}

.additional-menu {
  background: $green;
  height: 240px;
  overflow: scroll;
  padding: 25px 0;
  .menu-close {
    position: absolute;
    right: 30px;
  }
  ul {
    font-size: 17px;
    list-style: disc;
    padding-left: 25px;
    margin: 0;
    li {
      padding: 10px 0px;
      cursor: pointer;
      &:hover {
        color: $white;
      }
    }
  }
}
.users-list {
  padding: 0px 20px;
  .users-list-item {
    text-align: center;
    .user-data {
      a {
        font-size: 13px;
        color: $link-primary-pressed;
        &:hover {
          color: $link-primary;
        }
      }
    }
    .user-name {
      font-size: 15px;
      font-weight: bold;
      span {
        display: block;
      }
    }
    .user-position {
      font-size: 13px;
    }
  }
}


@include breakpoint(960px, 12) {
  .main-content-wrapper {
    background: white;
    padding: 0px 40px;
  }
  
  .menu-open {
    display: none;
  }

  .additional-menu {
    background: none;
    overflow: visible;
    .menu-header {
      background: $bg-primary-light;
      padding: 5px;
      text-transform: uppercase;
    }
    ul {
      li {
        &:hover {
          color: $white;
          background: $green;
        }
      }
    }
  }
}
