html,
body {
  min-width: 300px;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.main-slider {
  box-sizing: border-box;
  margin: 20px auto;
  width: 100%; }
  .main-slider .owl-carousel {
    margin-bottom: 90px; }
    .main-slider .owl-carousel .owl-dots {
      margin-top: 35px; }
  .main-slider .owl-item img {
    display: inline;
    width: auto;
    max-width: 100%; }
  .main-slider .slider-image-center {
    max-width: 440px;
    margin: 0 auto; }
    .main-slider .slider-image-center .slider-title {
      margin-top: 20px;
      margin-bottom: 20px; }
  .main-slider .slider-image-right .slider-text-block {
    margin-bottom: 15px; }
  .main-slider .slider-image-right .slider-title {
    margin-bottom: 17px; }

.owl-carousel .owl-item img {
  width: auto; }

.main-table {
  overflow-x: scroll; }

.width-100 {
  width: 100%; }

.owl-theme .owl-nav {
  left: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0; }
  .owl-theme .owl-nav [class*='owl-'] {
    display: block;
    margin: 0;
    width: 16px;
    height: 30px; }
  .owl-theme .owl-nav .owl-prev {
    float: left; }
  .owl-theme .owl-nav .owl-next {
    float: right; }
.owl-theme.black .owl-nav [class*='owl-'] {
  width: 11px;
  height: 20px; }
.owl-theme.black .owl-nav .owl-prev {
  margin-left: 25px; }
.owl-theme.black .owl-nav .owl-next {
  margin-right: 25px; }
.owl-theme.white .owl-nav {
  height: 100%;
  top: 0; }
  .owl-theme.white .owl-nav [class*='owl-'] {
    width: 70px;
    height: 100%; }
.owl-theme .owl-dots {
  width: 100%; }

.header {
  position: relative; }
  .header .logo-block {
    float: left; }
    .header .logo-block .main-logo {
      display: table-cell;
      width: 45px;
      height: 75px; }
    .header .logo-block .company-name {
      display: none;
      height: 75px; }
  .header .top-menu-block {
    display: block;
    float: right;
    height: 75px; }
    .header .top-menu-block .navigation-toggle-link {
      display: inline-block;
      height: 100%;
      width: 65px; }
    .header .top-menu-block .top-menu-list {
      display: inline-block;
      height: 100%; }
      .header .top-menu-block .top-menu-list .dropdown-header-block {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 200;
        box-sizing: border-box;
        overflow: hidden;
        display: none; }
        .header .top-menu-block .top-menu-list .dropdown-header-block .sitemap-column > ul {
          margin-top: 10px; }
          .header .top-menu-block .top-menu-list .dropdown-header-block .sitemap-column > ul:first-child {
            margin-top: 0; }
        .header .top-menu-block .top-menu-list .dropdown-header-block .search {
          height: 30px;
          width: 100%; }
        .header .top-menu-block .top-menu-list .dropdown-header-block .button-submit {
          position: absolute;
          top: 5px;
          right: 0;
          width: 25px;
          height: 22px; }
      .header .top-menu-block .top-menu-list-item {
        display: inline-block;
        height: 100%;
        width: 65px; }

.title-news {
  margin-bottom: 30px; }

.page-title-inscription {
  display: none; }

.persons-list-item:first-child {
  margin-top: 0; }
.persons-list-item .person-information {
  margin-top: 15px; }
  .persons-list-item .person-information .person-title {
    font-weight: 600;
    margin-bottom: 10px; }
  .persons-list-item .person-information .person-description {
    margin-bottom: 10px; }

.page-pagination {
  margin-bottom: 15px; }
  .page-pagination span {
    margin-right: 5px; }
  .page-pagination .items-sorting {
    margin-bottom: 10px; }
    .page-pagination .items-sorting .sorting-buttons-list {
      display: inline-block; }
      .page-pagination .items-sorting .sorting-buttons-list-item {
        display: inline-block; }
  .page-pagination .items-quantity .items-quantity-list {
    display: inline-block; }
    .page-pagination .items-quantity .items-quantity-list-item {
      display: inline-block; }
  .page-pagination .pagination .page-link {
    display: inline-block; }
  .page-pagination .pagination .page-item {
    display: inline-block; }

.media-list .media-list-item {
  margin-bottom: 20px; }
  .media-list .media-list-item .media-title {
    margin-top: 18px;
    display: block; }
  .media-list .media-list-item .media-date {
    display: block;
    margin-top: 5px; }
  .media-list .media-list-item .media-item-inner img {
    width: 100%; }

.news-page .media-title {
  margin-left: 8px; }
  .news-page .media-title:before {
    position: absolute;
    margin-left: -8px; }
.news-page .media-date {
  margin-left: 8px; }

.additional-news .news-title {
  margin: 0; }
.additional-news .news-rosatom .rosatom-logo {
  display: inline-block;
  width: 115px;
  height: 42px; }
.additional-news span {
  display: inline-block; }
.additional-news a {
  display: block; }
.additional-news .additional-media-list {
  margin-top: 0; }
  .additional-news .additional-media-list .additional-media-list-item {
    margin-bottom: 0;
    position: relative; }
    .additional-news .additional-media-list .additional-media-list-item .media-title {
      margin-top: 0; }
    .additional-news .additional-media-list .additional-media-list-item .media-date {
      display: block;
      margin-top: 5px; }

.management-wrapper .persons-list-item {
  margin-bottom: 30px; }
  .management-wrapper .persons-list-item .person-name {
    margin-top: 20px; }
  .management-wrapper .persons-list-item .person-position {
    margin: 10px 0; }

.person-avatar img {
  width: 100%; }

.persons-list-item {
  margin-bottom: 15px; }
  .management-wrapper .persons-list-item {
    width: 48.8888888889%;
    float: left;
    margin-right: 2.2222222222%; }
    .management-wrapper .persons-list-item:nth-child(2n) {
      width: 48.8888888889%;
      float: right;
      margin-right: 0; }
    .management-wrapper .persons-list-item:nth-child(2n-1) {
      clear: both; }
  .management-person-wrapper .persons-list-item .person-image {
    float: none; }
  .management-person-wrapper .persons-list-item .person-information {
    float: none;
    margin-top: 15px; }
    .management-person-wrapper .persons-list-item .person-information .person-title {
      font-weight: 600;
      margin-bottom: 10px; }
    .management-person-wrapper .persons-list-item .person-information .person-description {
      margin-bottom: 10px; }

.subsidiary-block .persons-list-item .person-information .person-post {
  margin-bottom: 15px; }

.description-html-safe {
  margin-bottom: 40px; }
  .description-html-safe ul li {
    margin-top: 10px; }
    .description-html-safe ul li:first-child {
      margin-top: 0; }
    .description-html-safe ul li ul li {
      margin-top: 0; }
      .description-html-safe ul li ul li:first-child {
        margin-top: 10px; }

.page-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.menu-change-visibility .additional-menu {
  display: block; }
.menu-change-visibility .menu-open {
  display: none; }

.menu-open {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  margin-top: -28px; }
  .menu-open img {
    margin-top: 10px; }

.additional-menu {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: none; }
  .additional-menu ul {
    margin-top: 0; }
  .additional-menu span.easytree-expander {
    position: absolute; }
    .additional-menu span.easytree-expander:after {
      width: 20px;
      height: 20px; }
  .additional-menu .menu-close {
    position: absolute;
    right: 23px;
    top: 20px;
    z-index: 10; }
  .additional-menu .menu-header {
    display: none; }
  .additional-menu a {
    text-decoration: none; }
  .additional-menu .top-blur-block,
  .additional-menu .bottom-blur-block {
    width: 88%;
    height: 20px;
    position: absolute;
    z-index: 1; }
  .additional-menu .top-blur-block {
    top: 0; }
  .additional-menu .bottom-blur-block {
    bottom: 0; }
  .additional-menu .scrollbar-dynamic {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 240px; }
    .additional-menu .scrollbar-dynamic li > ul {
      height: auto; }

.dropdown-menu-list {
  width: 100%;
  position: relative; }
  .dropdown-menu-list .dropdown-menu-navigation {
    position: absolute;
    top: 0;
    display: none;
    z-index: 3;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu {
      width: 47.7272727273%;
      float: left;
      margin-right: 4.5454545455%; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu {
      width: 47.7272727273%;
      float: right;
      margin-right: 0; }
      .dropdown-menu-list .dropdown-menu-navigation .child-menu li {
        margin-top: 10px; }
        .dropdown-menu-list .dropdown-menu-navigation .child-menu li:first-child {
          margin-top: 0; }

.one-column {
  display: block; }

.two-columns {
  display: none; }

.breadcrumb-block {
  margin-top: 25px; }

.logo-block-footer {
  display: inline-block; }
  .logo-block-footer .logo-item {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px; }

.social-media-block {
  display: inline-block; }
  .social-media-block .title-before {
    display: none; }
  .social-media-block .social-media-list {
    display: inline-block; }
    .social-media-block .social-media-list-item {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin-left: 17px; }
      .social-media-block .social-media-list-item:first-child {
        margin-left: 0; }

.form-field {
  position: relative;
  box-sizing: border-box; }

.dropdown-menu-sitemap {
  display: none; }

.search-block-footer {
  margin-top: 15px; }
  .search-block-footer .search {
    height: 30px;
    width: 100%; }
  .search-block-footer .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px; }

@media (min-width: 0px) and (max-width: 1059px) {
  .top-menu-block .navigation-list {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 50;
    box-sizing: border-box;
    overflow: hidden; }
    .top-menu-block .navigation-list .navigation-root {
      margin: 0; }
      .top-menu-block .navigation-list .navigation-root ul {
        display: none; }
    .top-menu-block .navigation-list .navigation-list-item {
      width: 47.7272727273%;
      float: left;
      margin-right: 4.5454545455%; }
      .top-menu-block .navigation-list .navigation-list-item > a {
        float: left;
        width: 100%;
        box-sizing: border-box; }
      .top-menu-block .navigation-list .navigation-list-item ul {
        position: absolute;
        left: 52.2727272727%;
        margin-top: 8px;
        top: 40px; }
        .top-menu-block .navigation-list .navigation-list-item ul.active {
          display: block; }
        .top-menu-block .navigation-list .navigation-list-item ul li {
          margin-top: 10px; }
          .top-menu-block .navigation-list .navigation-list-item ul li:first-child {
            margin-top: 0; }
    .top-menu-block .navigation-list.active {
      display: block; }

  .top-menu-list .top-menu-list-item.active .dropdown-header-block {
    display: block; } }
@media (min-width: 380px) {
  .header .logo-block .company-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px; } }
@media (min-width: 480px) {
  .page-menu {
    margin: -65px -10px 60px; }

  .header .top-menu-block .top-menu-list-item .sitemap-column {
    width: 47.7272727273%;
    float: left;
    margin-right: 4.5454545455%; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(2) {
      width: 47.7272727273%;
      float: right;
      margin-right: 0; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3) {
      width: 100%;
      float: right;
      margin-right: 0;
      clear: both; }
      .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3) > ul {
        width: 47.7272727273%;
        float: left;
        margin-right: 4.5454545455%;
        margin-top: 0;
        margin-bottom: 10px; }
        .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3) > ul:nth-child(2n) {
          width: 47.7272727273%;
          float: right;
          margin-right: 0; }
        .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3) > ul:nth-child(2n+1) {
          clear: both; }

  .menu-open {
    right: 35px; }

  .persons-list-item .person-image {
    width: 30.303030303%;
    float: left; }
  .persons-list-item .person-information {
    width: 65.1515151515%;
    float: right;
    margin-right: 0;
    margin-top: 0; }

  .media-list .media-list-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left; }
    .media-list .media-list-item:nth-child(2n) {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: right; }
    .media-list .media-list-item:nth-child(2n+1) {
      clear: both; } }
@media (min-width: 600px) and (max-width: 959px) {
  .header .top-menu-block .navigation-list .navigation-root {
    width: 82.962962963%;
    float: right;
    margin-right: 0;
    margin-left: 8.5185185185%;
    margin-right: 8.5185185185%; } }
@media (min-width: 700px) {
  .header .top-menu-block .top-menu-list .sitemap {
    display: inline-block; }
  .header .top-menu-block .top-menu-list-item .sitemap-column {
    width: 31.8518518519%;
    float: left;
    margin-right: 2.2222222222%; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(2n) {
      width: 31.8518518519%;
      float: left;
      margin-right: 2.2222222222%; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(2n+1) {
      clear: none; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3n) {
      width: 31.8518518519%;
      float: right;
      margin-right: 0; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3n+1) {
      clear: both; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3) > ul {
      width: 100%;
      float: right;
      margin-right: 0; }
      .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(3) > ul:nth-child(2n) {
        width: 100%;
        float: right;
        margin-right: 0; }

  .logo-block-footer {
    float: left; }
    .logo-block-footer .logo-item {
      margin-right: 35px; }

  .social-media-block {
    float: right; }

  .menu-column {
    width: 23.3333333333%;
    float: left;
    margin-right: 2.2222222222%;
    margin-top: 30px; }
    .menu-column:last-child {
      width: 48.8888888889%;
      float: right;
      margin-right: 0;
      margin-top: 30px; }

  .search-block-footer {
    margin-top: 30px; } }
@media (min-width: 720px) {
  .management-wrapper .persons-list-item {
    width: 31.8518518519%;
    float: left;
    margin-right: 2.2222222222%; }
    .management-wrapper .persons-list-item:nth-child(2n) {
      width: 31.8518518519%;
      float: left;
      margin-right: 2.2222222222%; }
    .management-wrapper .persons-list-item:nth-child(2n-1) {
      clear: none; }
    .management-wrapper .persons-list-item:nth-child(3n) {
      width: 31.8518518519%;
      float: right;
      margin-right: 0; }
    .management-wrapper .persons-list-item:nth-child(3n+1) {
      clear: both; }

  .additional-menu .menu-close {
    right: 90px; } }
@media (min-width: 800px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }

  .media-list .media-list-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left; }
    .media-list .media-list-item:nth-child(2n) {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: right; }
    .media-list .media-list-item:nth-child(2n+1) {
      clear: none; }
    .media-list .media-list-item:nth-child(3n) {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: right; }
    .media-list .media-list-item:nth-child(3n+1) {
      clear: both; } }
@media (min-width: 960px) {
  .media-content-wrapper .news-content {
    width: 74.7252747253%;
    float: left;
    margin-right: 1.0989010989%; }
  .media-content-wrapper .additional-news {
    width: 24.1758241758%;
    float: right;
    margin-right: 0; }

  .media-list.media-page .media-list-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left; }
    .media-list.media-page .media-list-item:nth-child(2n) {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left; }
    .media-list.media-page .media-list-item:nth-child(3n) {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left; }
    .media-list.media-page .media-list-item:nth-child(4n) {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: right;
      clear: none; }
    .media-list.media-page .media-list-item:nth-child(2n+1) {
      clear: none; }
    .media-list.media-page .media-list-item:nth-child(3n+1) {
      clear: none; }
    .media-list.media-page .media-list-item:nth-child(4n+1) {
      clear: both; }

  .page-pagination:not(.tiny) .items-sorting {
    float: left; }
  .page-pagination:not(.tiny) .items-quantity {
    float: right; }

  .menu-open {
    display: none; }

  .additional-menu {
    display: block; }
    .additional-menu .top-blur-block,
    .additional-menu .bottom-blur-block {
      display: none; }
    .additional-menu .menu-header {
      display: block; }
    .additional-menu .menu-close {
      display: none; }
    .additional-menu .scrollbar-dynamic {
      height: auto;
      overflow: visible; }
    .additional-menu ul {
      margin-top: 20px; }

  .page-title-inscription {
    width: 24.1758241758%;
    float: left;
    margin-right: 1.0989010989%;
    display: block; }

  .page-title-block {
    width: 74.7252747253%;
    float: right;
    margin-right: 0; }

  .page-content {
    width: 74.7252747253%;
    float: right;
    margin-right: 0; }

  .page-menu {
    width: 24.1758241758%;
    float: left;
    margin-right: 1.0989010989%; }

  .menu-block-footer {
    width: 57.8754578755%;
    float: left;
    margin-right: 1.0989010989%; }

  .menu-column {
    width: 24.3037974684%;
    float: left;
    margin-right: 1.8987341772%;
    margin-top: 55px; }
    .menu-column:last-child {
      width: 47.5949367089%;
      float: right;
      margin-right: 0;
      margin-top: 55px; }

  .logo-block-footer {
    width: 45.2380952381%;
    float: left;
    margin-right: 1.0989010989%; }
    .logo-block-footer .logo-item {
      margin-right: 20px; }

  .social-media-block {
    width: 53.663003663%;
    float: right;
    margin-right: 0;
    text-align: right; }
    .social-media-block .title-before {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      margin-right: 20px; }
    .social-media-block .social-media-list {
      display: table-cell; }

  .search-block-footer {
    margin-top: 55px;
    width: 41.0256410256%;
    float: right;
    margin-right: 0; }
    .search-block-footer .search {
      height: 30px;
      width: 100%; }
    .search-block-footer .button-submit {
      position: absolute;
      top: 5px;
      right: 0;
      width: 25px;
      height: 22px; }

  .main-slider .slider-text-block {
    width: 32.6007326007%;
    float: left;
    margin-right: 1.0989010989%;
    float: none;
    display: table-cell; }
  .main-slider .slider-image-block {
    width: 62.0879120879%;
    float: right;
    margin-right: 0;
    float: none;
    display: table-cell; } }
@media (min-width: 1060px) {
  .header .top-menu-block .navigation-toggle-link {
    display: none; }
  .header .top-menu-block .navigation-root {
    display: table;
    margin: 0;
    height: 100%; }
    .header .top-menu-block .navigation-root ul {
      display: none;
      position: absolute;
      z-index: 200;
      margin-left: -5px; }
      .header .top-menu-block .navigation-root ul a {
        display: block; }
  .header .top-menu-block .navigation-list {
    display: inline-block; }
    .header .top-menu-block .navigation-list-item {
      display: table-cell; }
      .header .top-menu-block .navigation-list-item > a {
        display: block;
        height: 75px; }
      .header .top-menu-block .navigation-list-item:hover > a {
        margin-left: -5px; }
      .header .top-menu-block .navigation-list-item:hover > ul {
        display: block; }
  .header .top-menu-block .top-menu-list-item:hover .dropdown-header-block {
    display: block; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; }

  .header .top-menu-list .navigation {
    display: none; }

  .menu-column {
    width: 19.9367088608%;
    float: left;
    margin-right: 1.8987341772%; }
    .menu-column:last-child {
      width: 56.3291139241%;
      float: right;
      margin-right: 0; }

  .logo-block-footer .logo-item {
    margin-right: 60px; }

  .social-media-block {
    width: 36.8131868132%;
    float: right;
    margin-right: 0;
    text-align: left; }
    .social-media-block .title-before {
      padding-right: 35px;
      font-size: 18px;
      font-weight: 600; }

  .search-block-footer {
    width: 36.8131868132%;
    float: right;
    margin-right: 0; }

  .page-pagination .items-sorting {
    float: left; }
  .page-pagination .items-quantity {
    float: right; } }

/*# sourceMappingURL=blocks.css.map */
