html,
body {
  min-width: 300px;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.main-slider {
  margin: 20px auto;
  width: 100%; }
  .main-slider .owl-item img {
    display: inline;
    width: auto;
    max-width: 100%; }

.owl-carousel .owl-item img {
  width: auto; }

.owl-theme .owl-nav {
  left: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0; }
  .owl-theme .owl-nav [class*='owl-'] {
    display: block;
    margin: 0;
    width: 16px;
    height: 30px; }
  .owl-theme .owl-nav .owl-prev {
    float: left; }
  .owl-theme .owl-nav .owl-next {
    float: right; }
.owl-theme.black .owl-nav [class*='owl-'] {
  width: 11px;
  height: 20px; }
.owl-theme.black .owl-nav .owl-prev {
  margin-left: 25px; }
.owl-theme.black .owl-nav .owl-next {
  margin-right: 25px; }
.owl-theme.white .owl-nav {
  height: 100%;
  top: 0; }
  .owl-theme.white .owl-nav [class*='owl-'] {
    width: 70px;
    height: 100%; }
.owl-theme .owl-dots {
  width: 100%; }

.header {
  position: relative; }
  .header .logo-block {
    float: left; }
    .header .logo-block .main-logo {
      display: table-cell;
      width: 45px;
      height: 75px; }
    .header .logo-block .company-name {
      display: none;
      height: 75px; }
  .header .top-menu-block {
    display: block;
    float: right;
    height: 75px; }
    .header .top-menu-block .navigation-toggle-link {
      display: inline-block;
      height: 100%;
      width: 65px; }
    .header .top-menu-block .top-menu-list {
      display: inline-block;
      height: 100%; }
      .header .top-menu-block .top-menu-list .dropdown-header-block {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 50;
        box-sizing: border-box;
        overflow: hidden;
        display: none; }
      .header .top-menu-block .top-menu-list-item {
        display: inline-block;
        height: 100%;
        width: 65px; }

.page-title-inscription {
  display: none; }

.persons-list-item:first-child {
  margin-top: 0; }
.persons-list-item .person-information {
  margin-top: 15px; }
  .persons-list-item .person-information .person-title {
    font-weight: 600;
    margin-bottom: 10px; }
  .persons-list-item .person-information .person-description {
    margin-bottom: 10px; }

.management-wrapper .persons-list-item {
  margin-bottom: 30px; }
  .management-wrapper .persons-list-item .person-name {
    margin-top: 20px; }
  .management-wrapper .persons-list-item .person-position {
    margin: 10px 0; }

.person-avatar img {
  width: 100%; }

.management-person-wrapper .persons-list-item .person-image {
  float: none; }
.management-person-wrapper .persons-list-item .person-information {
  float: none;
  margin-top: 15px; }
  .management-person-wrapper .persons-list-item .person-information .person-title {
    font-weight: 600;
    margin-bottom: 10px; }
  .management-person-wrapper .persons-list-item .person-information .person-description {
    margin-bottom: 10px; }

.description-html-safe ul li {
  margin-top: 10px; }
  .description-html-safe ul li:first-child {
    margin-top: 0; }
  .description-html-safe ul li ul li {
    margin-top: 0; }
    .description-html-safe ul li ul li:first-child {
      margin-top: 10px; }

.page-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.menu-change-visibility .additional-menu {
  display: block; }
.menu-change-visibility .menu-open {
  display: none; }

.page-menu {
  margin: -65px -5px 60px; }

.menu-open {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  margin-top: -28px; }
  .menu-open img {
    margin-top: 10px; }

.additional-menu {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: none; }
  .additional-menu .menu-close {
    position: absolute;
    right: 30px;
    z-index: 10; }
  .additional-menu .menu-header {
    display: none; }
  .additional-menu a {
    text-decoration: none; }
  .additional-menu .top-blur-block {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 1; }
  .additional-menu .bottom-blur-block {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    z-index: 1; }
  .additional-menu .scrollbar-dynamic {
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 240px; }
    .additional-menu .scrollbar-dynamic li > ul {
      height: auto; }

.dropdown-menu-list {
  width: 100%;
  position: relative; }
  .dropdown-menu-list .dropdown-menu-navigation {
    position: absolute;
    top: 0;
    display: none;
    z-index: 3;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu {
      width: 47.7272727273%;
      float: left;
      margin-right: 4.5454545455%; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu {
      width: 47.7272727273%;
      float: right;
      margin-right: 0; }
      .dropdown-menu-list .dropdown-menu-navigation .child-menu li {
        margin-top: 10px; }
        .dropdown-menu-list .dropdown-menu-navigation .child-menu li:first-child {
          margin-top: 0; }

.one-column {
  display: block; }

.two-columns {
  display: none; }

.logo-block-footer {
  display: inline-block; }
  .logo-block-footer .logo-item {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px; }

.social-media-block {
  display: inline-block; }
  .social-media-block .title-before {
    display: none; }
  .social-media-block .social-media-list {
    display: inline-block; }
    .social-media-block .social-media-list-item {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin-left: 17px; }
      .social-media-block .social-media-list-item:first-child {
        margin-left: 0; }

.form-field {
  position: relative;
  box-sizing: border-box; }

.dropdown-menu-sitemap {
  display: none; }

.dropdown-menu-search .dropdown-menu-search-inner {
  padding: 20px; }
.dropdown-menu-search .search {
  height: 30px;
  width: 100%; }
.dropdown-menu-search .button-submit {
  position: absolute;
  top: 5px;
  right: 0;
  width: 25px;
  height: 22px; }

.search-block-footer {
  margin-top: 15px; }
  .search-block-footer .search {
    height: 30px;
    width: 100%; }
  .search-block-footer .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px; }

@media (min-width: 0px) and (max-width: 959px) {
  .top-menu-block .navigation-list {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 50;
    box-sizing: border-box;
    overflow: hidden; }
    .top-menu-block .navigation-list .navigation-root {
      margin: 0; }
      .top-menu-block .navigation-list .navigation-root ul {
        display: none; }
    .top-menu-block .navigation-list .navigation-list-item {
      width: 47.7272727273%;
      float: left;
      margin-right: 4.5454545455%; }
      .top-menu-block .navigation-list .navigation-list-item > a {
        float: left;
        width: 100%;
        box-sizing: border-box; }
      .top-menu-block .navigation-list .navigation-list-item ul {
        position: absolute;
        left: 52.2727272727%;
        margin-top: 8px;
        top: 40px; }
        .top-menu-block .navigation-list .navigation-list-item ul.active {
          display: block; }
        .top-menu-block .navigation-list .navigation-list-item ul li {
          margin-top: 10px; }
          .top-menu-block .navigation-list .navigation-list-item ul li:first-child {
            margin-top: 0; }
    .top-menu-block .navigation-list.active {
      display: block; }

  .top-menu-list .top-menu-list-item.active .dropdown-header-block {
    display: block; } }
@media (min-width: 380px) {
  .header .logo-block .company-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px; } }
@media (min-width: 480px) {
  .page-menu {
    margin: -65px -10px 60px; }

  .header .top-menu-block .top-menu-list-item .sitemap-column {
    width: 47.7272727273%;
    float: left;
    margin-right: 4.5454545455%; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(2n) {
      width: 47.7272727273%;
      float: right;
      margin-right: 0; }
    .header .top-menu-block .top-menu-list-item .sitemap-column:nth-child(2n+1) {
      clear: both; }

  .menu-open {
    right: 35px; }

  .persons-list-item .person-image {
    width: 30.303030303%;
    float: left; }
  .persons-list-item .person-information {
    width: 65.1515151515%;
    float: right;
    margin-right: 0;
    margin-top: 0; }

  .management-wrapper .persons-list-item {
    width: 48.8888888889%;
    float: left;
    margin-right: 2.2222222222%; }
    .management-wrapper .persons-list-item:nth-child(2n) {
      width: 48.8888888889%;
      float: right;
      margin-right: 0; }
    .management-wrapper .persons-list-item:nth-child(2n-1) {
      clear: both; } }
@media (min-width: 600px) and (max-width: 959px) {
  .header .top-menu-block .navigation-list .navigation-root {
    width: 82.962962963%;
    float: right;
    margin-right: 0;
    margin-left: 8.5185185185%;
    margin-right: 8.5185185185%; }
  .header .top-menu-list .top-menu-list-item .sitemap-first-column,
  .header .top-menu-list .top-menu-list-item .sitemap-third-column {
    width: 48.8888888889%;
    float: left;
    margin-right: 2.2222222222%; }
  .header .top-menu-list .top-menu-list-item .sitemap-second-column {
    width: 48.8888888889%;
    float: right;
    margin-right: 0; }
  .header .top-menu-list .top-menu-list-item .sitemap-third-column {
    width: 100%;
    float: right;
    margin-right: 0; } }
@media (min-width: 700px) {
  .header .top-menu-block .top-menu-list .sitemap {
    display: inline-block; }

  .dropdown-menu-search {
    width: 100%; }
    .dropdown-menu-search .dropdown-menu-search-inner {
      padding: 25px; }
    .dropdown-menu-search .form-field {
      width: 571px;
      margin: 0 auto; }

  .logo-block-footer {
    float: left; }
    .logo-block-footer .logo-item {
      margin-right: 35px; }

  .social-media-block {
    float: right; }

  .menu-column {
    width: 23.3333333333%;
    float: left;
    margin-right: 2.2222222222%;
    margin-top: 30px; }
    .menu-column:last-child {
      width: 48.8888888889%;
      float: right;
      margin-right: 0;
      margin-top: 30px; }

  .search-block-footer {
    margin-top: 30px; } }
@media (min-width: 720px) {
  .management-wrapper .persons-list-item {
    width: 31.8518518519%;
    float: left;
    margin-right: 2.2222222222%; }
    .management-wrapper .persons-list-item:nth-child(2n) {
      width: 31.8518518519%;
      float: left;
      margin-right: 2.2222222222%; }
    .management-wrapper .persons-list-item:nth-child(2n-1) {
      clear: none; }
    .management-wrapper .persons-list-item:nth-child(3n) {
      width: 31.8518518519%;
      float: right;
      margin-right: 0; }
    .management-wrapper .persons-list-item:nth-child(3n+1) {
      clear: both; } }
@media (min-width: 800px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }
@media (min-width: 960px) {
  .menu-open {
    display: none; }

  .additional-menu {
    display: block; }
    .additional-menu .top-blur-block,
    .additional-menu .bottom-blur-block {
      display: none; }
    .additional-menu .menu-header {
      display: block; }
    .additional-menu .menu-close {
      display: none; }
    .additional-menu .scrollbar-dynamic {
      height: auto;
      overflow: visible; }
    .additional-menu ul {
      padding: 0; }

  .page-title-inscription {
    width: 24.1758241758%;
    float: left;
    margin-right: 1.0989010989%;
    display: block; }

  .page-title-block {
    width: 74.7252747253%;
    float: right;
    margin-right: 0; }

  .page-content {
    width: 74.7252747253%;
    float: right;
    margin-right: 0; }

  .page-menu {
    width: 24.1758241758%;
    float: left;
    margin-right: 1.0989010989%; }

  .header {
    padding-left: 65px;
    padding-right: 65px; }
    .header .top-menu-block .navigation-toggle-link {
      display: none; }
    .header .top-menu-block .navigation-root {
      display: table;
      margin: 0;
      height: 100%; }
      .header .top-menu-block .navigation-root ul {
        display: none;
        position: absolute;
        z-index: 200;
        margin-left: -5px; }
        .header .top-menu-block .navigation-root ul a {
          display: block; }
    .header .top-menu-block .navigation-list {
      display: inline-block; }
      .header .top-menu-block .navigation-list-item {
        display: table-cell; }
        .header .top-menu-block .navigation-list-item > a {
          display: block;
          height: 75px; }
          .header .top-menu-block .navigation-list-item > a:hover {
            margin-left: -5px; }
        .header .top-menu-block .navigation-list-item:hover > a {
          margin-left: -5px; }
        .header .top-menu-block .navigation-list-item:hover > ul {
          display: block; }
    .header .top-menu-block .top-menu-list-item .dropdown-header-block {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      z-index: 50;
      box-sizing: border-box;
      overflow: hidden; }
    .header .top-menu-block .top-menu-list-item .sitemap-first-column,
    .header .top-menu-block .top-menu-list-item .sitemap-second-column {
      width: 32.6007326007%;
      float: left;
      margin-right: 1.0989010989%; }
    .header .top-menu-block .top-menu-list-item .sitemap-third-column {
      width: 32.6007326007%;
      float: right;
      margin-right: 0; }
    .header .top-menu-block .top-menu-list-item:hover .dropdown-header-block {
      display: block; }

  .menu-block-footer {
    width: 57.8754578755%;
    float: left;
    margin-right: 1.0989010989%; }

  .menu-column {
    width: 24.3037974684%;
    float: left;
    margin-right: 1.8987341772%;
    margin-top: 55px; }
    .menu-column:last-child {
      width: 47.5949367089%;
      float: right;
      margin-right: 0;
      margin-top: 55px; }

  .logo-block-footer {
    width: 45.2380952381%;
    float: left;
    margin-right: 1.0989010989%; }
    .logo-block-footer .logo-item {
      margin-right: 20px; }

  .social-media-block {
    width: 53.663003663%;
    float: right;
    margin-right: 0;
    text-align: right; }
    .social-media-block .title-before {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      margin-right: 20px; }
    .social-media-block .social-media-list {
      display: table-cell; }

  .search-block-footer {
    margin-top: 55px;
    width: 41.0256410256%;
    float: right;
    margin-right: 0; }
    .search-block-footer .search {
      height: 30px;
      width: 100%; }
    .search-block-footer .button-submit {
      position: absolute;
      top: 5px;
      right: 0;
      width: 25px;
      height: 22px; }

  .main-slider .slider-text-block {
    width: 32.6007326007%;
    float: left;
    margin-right: 1.0989010989%;
    float: none;
    display: table-cell; }
  .main-slider .slider-image-block {
    width: 62.0879120879%;
    float: right;
    margin-right: 0;
    float: none;
    display: table-cell; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; }

  .header .top-menu-list .navigation {
    display: none; }

  .dropdown-menu-search .dropdown-menu-search-inner {
    padding: 25px; }
  .dropdown-menu-search .form-field {
    width: 571px;
    float: right;
    margin-right: 75px; }

  .menu-column {
    width: 19.9367088608%;
    float: left;
    margin-right: 1.8987341772%; }
    .menu-column:last-child {
      width: 56.3291139241%;
      float: right;
      margin-right: 0; }

  .logo-block-footer .logo-item {
    margin-right: 60px; }

  .social-media-block {
    width: 36.8131868132%;
    float: right;
    margin-right: 0;
    text-align: left; }
    .social-media-block .title-before {
      padding-right: 35px;
      font-size: 18px;
      font-weight: 600; }

  .search-block-footer {
    width: 36.8131868132%;
    float: right;
    margin-right: 0; } }

/*# sourceMappingURL=blocks.css.map */
