.tile-list-wrapper .two-columns {
  display: none; }

.tile-list .tile-list-row {
  margin-bottom: 4.5454545455%; }
.tile-list .wide > .first {
  width: 47.7272727273%;
  float: left;
  margin-right: 4.5454545455%;
  padding-right: 2.2727272727%;
  display: table-cell;
  float: none; }
.tile-list .wide > .last {
  width: 47.7272727273%;
  float: right;
  margin-right: 0;
  padding-left: 2.2727272727%;
  display: table-cell;
  float: none; }
.tile-list .tile-list-item {
  position: relative;
  overflow: hidden; }
  .tile-list .tile-list-item img {
    max-width: 100%; }
.tile-list .items_3 .tile-list-item {
  width: 100%;
  float: right;
  margin-right: 0; }
.tile-list .items_3 > .first {
  width: 47.7272727273%;
  float: left;
  margin-right: 4.5454545455%;
  margin-bottom: 4.5454545455%; }
.tile-list .items_3 > .last {
  width: 47.7272727273%;
  float: right;
  margin-right: 0;
  margin-bottom: 4.5454545455%; }
.tile-list .items_3 .tile-list-item-child {
  position: relative; }
.tile-list .items_3 a::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%; }
.tile-list .items_3 a:hover::before {
  display: none; }
.tile-list .simple-color {
  position: relative; }
  .tile-list .simple-color::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    width: 95.4545454545%;
    height: 100%;
    z-index: 20; }
  .tile-list .simple-color.with-text::before {
    z-index: 80; }
  .tile-list .simple-color.with-text .tile-image {
    z-index: 60; }
  .tile-list .simple-color .tile-text,
  .tile-list .simple-color .tile-title,
  .tile-list .simple-color .tile-image {
    position: relative;
    z-index: 100; }
  .tile-list .simple-color .tile-text {
    display: block; }
.tile-list .half-horizontal .tile-text {
  display: block;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 95.4545454545%; }
.tile-list .slider .slider-item-title {
  display: none; }
.tile-list .slider .tile-title {
  position: static;
  width: 100%; }
.tile-list .slider .owl-carousel {
  padding-left: 65.1515151515%;
  padding-right: 65.1515151515%;
  box-sizing: border-box; }
.tile-list .slider.full .tile-title {
  position: absolute;
  z-index: 10; }
.tile-list .slider.full .owl-carousel {
  padding-left: 0;
  padding-right: 0; }
.tile-list .small-list {
  position: relative; }
  .tile-list .small-list .tile-title {
    top: 0px; }
  .tile-list .small-list .tile-text {
    display: block;
    position: absolute;
    bottom: 15px; }
.tile-list .icon-with-list .tile-text {
  display: none;
  width: 130px;
  margin: 0 auto; }
.tile-list .icon-with-list .cities-list {
  margin: 5px 0; }
.tile-list .icon-with-list:hover .tile-icon {
  display: none; }
.tile-list .icon-with-list:hover .tile-text {
  display: block; }
.tile-list .text-on-hover .short-description {
  margin-bottom: 5px; }
  .tile-list .text-on-hover .short-description p {
    margin-bottom: 5px; }
    .tile-list .text-on-hover .short-description p:first-child {
      margin-top: 0; }
.tile-list .text-on-hover:hover .tile-title {
  display: none; }
.tile-list .text-on-hover:hover .tile-text {
  display: block;
  position: absolute;
  bottom: 0; }
.tile-list .tile-text {
  display: none;
  box-sizing: border-box; }
.tile-list .tile-title {
  position: absolute;
  top: 0; }
.tile-list .tile-icon {
  margin-bottom: 20px; }
  .tile-list .tile-icon img {
    max-width: 50px;
    max-height: 50px; }
.tile-list .rewards-list .rewards-list-item {
  margin-right: 5px; }

.clients-list {
  width: 100%;
  font-size: 0;
  margin-top: 35px; }
  .clients-list:first-child {
    margin-top: 0; }
  .clients-list .clients-list-item {
    display: inline-block;
    width: 25%;
    font: 300 15px/18px "Open Sans", sans-serif; }
    .clients-list .clients-list-item img {
      display: inline; }

@media (min-width: 600px) {
  .tile-list .tile-list-row {
    margin-bottom: 2.2222222222%; }
  .tile-list .wide > .first {
    width: 48.8888888889%;
    float: left;
    margin-right: 2.2222222222%;
    padding-right: 1.1111111111%;
    display: table-cell;
    float: none; }
  .tile-list .wide > .last {
    width: 48.8888888889%;
    float: right;
    margin-right: 0;
    padding-left: 1.1111111111%;
    display: table-cell;
    float: none; }
  .tile-list .simple-color::before {
    width: 97.7777777778%; }
  .tile-list .half-horizontal .tile-text {
    width: 97.7777777778%; }
  .tile-list .items_3 .tile-list-item {
    width: 100%;
    float: right;
    margin-right: 0; }
  .tile-list .items_3 > .first {
    width: 48.8888888889%;
    float: left;
    margin-right: 2.2222222222%;
    margin-bottom: 4.5454545455%; }
  .tile-list .items_3 > .last {
    width: 48.8888888889%;
    float: right;
    margin-right: 0;
    margin-bottom: 4.5454545455%; } }
@media (min-width: 700px) {
  .one-column {
    max-width: 650px;
    margin: 0 auto; } }
@media (min-width: 800px) {
  .tile-list-wrapper .one-column {
    display: none; }
  .tile-list-wrapper .two-columns {
    display: block; }

  .tile-list {
    width: 49.4505494505%;
    float: left;
    margin-right: 1.0989010989%; }
    .tile-list:last-child {
      width: 49.4505494505%;
      float: right;
      margin-right: 0; }
    .tile-list .tile-list-row {
      margin-bottom: 2.2222222222%; }
    .tile-list .wide > .first {
      width: 49.4505494505%;
      float: left;
      margin-right: 1.0989010989%;
      padding-right: 1.1111111111%;
      float: none; }
    .tile-list .wide > .last {
      width: 49.4505494505%;
      float: right;
      margin-right: 0;
      padding-left: 1.1111111111%;
      float: none; }
    .tile-list .items_3 .tile-list-item {
      width: 100%;
      float: right;
      margin-right: 0;
      margin-bottom: 0; }
    .tile-list .items_3 > .first {
      width: 47.7272727273%;
      float: left;
      margin-right: 4.5454545455%;
      margin-bottom: 4.5454545455%; }
    .tile-list .items_3 > .last {
      width: 47.7272727273%;
      float: right;
      margin-right: 0;
      margin-bottom: 4.5454545455%; }
    .tile-list .simple-color::before {
      width: 97.7777777778%; }
    .tile-list .simple-color.with-text .tile-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 97.7777777778%; }
    .tile-list .half-horizontal .tile-text {
      width: 97.7777777778%;
      height: 47.2283272283%; }
    .tile-list .slider .owl-carousel {
      padding-left: 11.5384615385%;
      padding-right: 11.5384615385%; }
    .tile-list .text-on-hover .short-description {
      margin-bottom: 10px; }
      .tile-list .text-on-hover .short-description p {
        margin-bottom: 10px; }
        .tile-list .text-on-hover .short-description p:first-child {
          margin-top: 0; }
    .tile-list .text-on-hover:hover .tile-title {
      display: block; }
    .tile-list .tile-icon {
      margin-bottom: 40px; }
      .tile-list .tile-icon img {
        max-width: none;
        max-height: none; } }
@media (min-width: 960px) {
  .tile-list .icon-with-list .tile-text {
    width: 170px; }
  .tile-list .small-list .tile-title {
    top: 10px; }
  .tile-list .small-list .tile-text {
    bottom: 20px; } }
@media (min-width: 1200px) {
  .tile-list .small-list .tile-title {
    top: 15px; }
  .tile-list .small-list .tile-text {
    bottom: 30px; } }

/*# sourceMappingURL=front_page.css.map */
