.main-content-wrapper {
  background: white; }

.menu-change-visibility .additional-menu {
  display: block; }
.menu-change-visibility .menu-open {
  display: none; }

.menu-open {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  margin-top: -28px; }
  .menu-open img {
    margin-top: 10px; }

.additional-menu {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: none;
  height: 240px; }
  .additional-menu .menu-close {
    position: absolute;
    right: 30px; }
  .additional-menu .menu-header {
    display: none; }
  .additional-menu a {
    margin-left: 20px;
    margin-top: -18px;
    display: block; }
  .additional-menu .top-blur-block {
    width: 80%;
    height: 60px;
    position: absolute;
    top: 0; }
  .additional-menu .bottom-blur-block {
    width: 80%;
    height: 60px;
    position: absolute;
    bottom: 0; }
  .additional-menu ul {
    width: 88%;
    margin: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 200px; }
    .additional-menu ul li > ul {
      height: auto; }
    .additional-menu ul li button a {
      margin: 0; }

.users-list {
  margin-top: 60px;
  margin-bottom: 90px; }
  .users-list .users-list-item {
    margin-bottom: 30px; }
    .users-list .users-list-item .user-name {
      margin-top: 20px; }
    .users-list .users-list-item .user-position {
      margin: 10px 0px; }
  .users-list .user-avatar img {
    width: 100%; }

@media (min-width: 480px) {
  .menu-open {
    right: 35px; }

  .users-list .users-list-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.3888888889%;
    padding-right: 1.3888888889%; }
    .users-list .users-list-item:nth-child(2n-1) {
      clear: left; } }
@media (min-width: 720px) {
  .users-list .users-list-item {
    clear: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left;
    padding-left: 1.3888888889%;
    padding-right: 1.3888888889%; }
    .users-list .users-list-item:nth-child(2n-1) {
      clear: none; }
    .users-list .users-list-item:nth-child(3n+1) {
      clear: left; } }
@media (min-width: 960px) {
  .menu-open {
    display: none; }

  .additional-menu {
    display: block;
    margin-top: 37px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%; }
    .additional-menu .top-blur-block,
    .additional-menu .bottom-blur-block {
      display: none; }
    .additional-menu .menu-header {
      display: block; }
    .additional-menu .menu-close {
      display: none; }
    .additional-menu ul {
      height: auto;
      overflow: visible; }

  .users-list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.6944444444%;
    padding-right: 0.6944444444%; }
    .users-list .users-list-item {
      height: 400px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left;
      padding-left: 0.6944444444%;
      padding-right: 0.6944444444%; }
      .users-list .users-list-item:nth-child(2n-1) {
        clear: none; }
      .users-list .users-list-item:nth-child(3n+1) {
        clear: left; } }

/*# sourceMappingURL=management.css.map */
