@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'freesetblackcregular';
  src: url("../fonts/pt_freeset_black_cyrillic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
h1 {
  font: 300 15px/18px "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px; }

.clearfix::before, .clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.primary-color {
  background-color: #6e7073; }

.primary-color-dark {
  background-color: #424750; }

.primary-color-light {
  background-color: #e2e2e2; }

.secondary-color-green {
  background-color: #bed33f; }

.tile-list-item .no-dot-title {
  font-size: 12px;
  text-align: center; }

.font-black .date-block {
  font-size: 13px;
  font-weight: 600;
  padding-left: 25px;
  background: url(../images/icon-calendar.png) no-repeat 0 center; }
.font-white .date-block {
  font-size: 13px;
  font-weight: 600;
  padding-left: 25px;
  background: url(../images/icon-calendar-white.png) no-repeat 0 center; }

.horizontal-block .short-description {
  font: 300 15px/18px "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px; }

.font-white {
  color: #fff; }
  .font-white a {
    color: #fff; }

.font-black {
  color: #000; }
  .font-black a {
    color: #000; }

.font-label-small {
  font: 300 16px/20px "Open Sans", sans-serif; }

.font-label {
  font: 300 20px/24px "Open Sans", sans-serif; }

.font-label-big {
  font: 300 24px/28px "Open Sans", sans-serif; }

.font-semibold {
  font-weight: 600; }

a {
  text-decoration: none;
  color: #7a7a7a;
  cursor: pointer; }
  .breadcrumb-block a {
    color: #587daa; }
    .breadcrumb-block a:last-child {
      color: #7a7a7a; }
  .menu-block-footer a {
    color: #fff; }
    .menu-block-footer a:hover {
      color: #bed33f; }
  .parent-menu a {
    color: #000; }

.breadcrumb-block span {
  color: #7a7a7a; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px 30px 7px; }
  .button.border {
    border: 2px solid #bed33f;
    color: #bed33f; }
    .button.border:hover {
      color: #fff;
      background: #bed33f; }
    .button.border.white {
      border-color: #fff;
      color: #fff; }
      .button.border.white:hover {
        color: #fff;
        border-color: #bed33f;
        background: #bed33f; }

@media (min-width: 360px) {
  .tile-list-item .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    padding: 10px 10px; }

  .tile-list-item .no-dot-title {
    font-size: 14px; } }
@media (min-width: 480px) {
  h1 {
    font: 300 15px/18px "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px; }

  .tile-list-item .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    padding: 10px; }

  .tile-list-item .no-dot-title {
    font-size: 18px; } }
@media (min-width: 600px) {
  h1 {
    font: 300 15px/18px "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px; }

  .tile-list-item .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 20px 20px 40px;
    text-indent: -20px; }

  .tile-list-item .title::before {
    padding-right: 10px;
    content: "•";
    color: #bed33f;
    font-size: 24px;
    font-weight: 600; }

  .tile-list-item .no-dot-title {
    font-size: 20px; } }
@media (min-width: 720px) {
  .page-image {
    margin-bottom: 55px; }

  h1 {
    font: 300 15px/18px "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px; }

  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 75px;
    padding-right: 75px; }

  .horizontal-block .short-description {
    font: 300 15px/18px "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px; }

  .font-label-small {
    font: 300 18px/22px "Open Sans", sans-serif; }

  .font-label {
    font: 300 24px/28px "Open Sans", sans-serif; }

  .font-label-big {
    font: 300 32px/36px "Open Sans", sans-serif; }

  .font-huge {
    font: 300 44px/50px "Open Sans", sans-serif; }

  .font-semibold {
    font-weight: 600; }

  .font-bold {
    font-weight: 700; } }
@media (min-width: 1200px) {
  .horizontal-block .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px 20px 20px 40px;
    text-indent: -20px; }
  .title .vertical-block {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px 20px 20px 40px;
    text-indent: -20px; }

  .horizontal-block .title::before {
    padding-right: 10px;
    content: "•";
    color: #bed33f;
    font-size: 32px;
    font-weight: 600; }
  .vertical-block .title::before {
    padding-right: 10px;
    content: "•";
    color: #bed33f;
    font-size: 18px;
    font-weight: 600; }

  .tile-list-item .no-dot-title {
    font-size: 32px; }

  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 30px;
    padding-right: 30px; }

  .padding-general {
    padding-top: 45px;
    padding-bottom: 45px; }

  .horizontal-block .button-detail {
    background-color: #bed33f;
    color: #fff;
    border: none;
    padding: 5px 30px;
    text-transform: uppercase;
    font: 300 15px/18px "Open Sans", sans-serif;
    font-weight: 600; }
  .vertical-block .button-detail {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 30px;
    text-transform: uppercase;
    font: 300 15px/18px "Open Sans", sans-serif;
    font-weight: 600; } }

/*# sourceMappingURL=helper_classes.css.map */
