@charset "UTF-8";
html,
body {
  padding: 0;
  font: 300 15px/18px "Open Sans", sans-serif;
  background: #dedede;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 );
  /* IE6-9 */ }

ul {
  list-style: none;
  padding: 0; }
  .parent-menu ul {
    list-style-type: disc; }

.page-menu .menu-change-visibility:after {
  content: '';
  display: block;
  margin-top: -4px;
  height: 4px;
  width: 100%;
  box-shadow: 0px 0px 10px black; }

.additional-menu-wrapper .menu-open {
  background: #bed33f;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center; }

.additional-menu {
  font-weight: 400;
  background: #bed33f;
  padding: 20px 60px 20px 0px; }
  .additional-menu span.easytree-node {
    display: inline-block;
    vertical-align: top; }
  .additional-menu span.easytree-expander {
    display: inline-block;
    font-weight: bold; }
    .additional-menu span.easytree-expander:after {
      padding-left: 4px; }
  .additional-menu span.easytree-exp-c span.easytree-expander:after {
    content: '+'; }
  .additional-menu span.easytree-exp-e span.easytree-expander:after {
    content: '-'; }
  .additional-menu .top-blur-block {
    background: #bed33f;
    box-shadow: 0px 13px 27px #bed33f; }
  .additional-menu .bottom-blur-block {
    background: #bed33f;
    box-shadow: 0px -13px 27px #bed33f; }
  .additional-menu .easytree-focused span.easytree-active .easytree-title {
    background: none;
    color: #fff; }
  .additional-menu .easytree-exp-e .easytree-title a {
    color: #fff; }
  .additional-menu ul {
    padding: 20px 0px;
    font-size: 17px; }
    .additional-menu ul.easytree-container ul {
      margin: 0; }
    .additional-menu ul.easytree-container li .easytree-title {
      padding-left: 20px; }
    .additional-menu ul.easytree-container li .easytree-node {
      padding: 10px 0px;
      width: 100%; }
      .additional-menu ul.easytree-container li .easytree-node:before {
        content: '·';
        font-size: 41px;
        margin-top: 0;
        position: absolute;
        padding-left: 5px; }
    .additional-menu ul li {
      position: relative;
      color: #fff; }
      .additional-menu ul li .easytree-active span,
      .additional-menu ul li .easytree-active a {
        color: #fff; }
      .additional-menu ul li .easytree-node:hover {
        color: #fff; }
        .additional-menu ul li .easytree-node:hover a {
          color: #fff; }
      .additional-menu ul li a {
        color: #000; }

.content-wrapper {
  background-color: #fff;
  padding: 0; }
  .content-wrapper .page-content {
    padding: 65px 5px; }

.page-title-wrapper {
  padding: 15px 5px; }

.description-html-safe ul {
  list-style-type: disc;
  padding-left: 17px; }
  .description-html-safe ul li ul {
    padding-left: 0;
    list-style: none; }
.description-html-safe a {
  color: #085799; }

.main-table .pdf-link {
  padding-left: 20px;
  background: url(../images/icon-pdf-link.png) no-repeat 0 center; }
.main-table th {
  text-align: left;
  padding-bottom: 15px;
  padding-left: 10px;
  vertical-align: top; }
.main-table .section-title {
  text-align: center;
  background-color: #bed33f;
  color: #fff; }
  .main-table .section-title td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600; }
.main-table .section-item a {
  color: #085799; }
.main-table .section-item td {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff; }
.main-table .section-item:hover {
  background-color: #efefef; }
.main-table .section-item .license-number {
  width: 20%; }
.main-table .section-item .nomination {
  width: 35%; }
.main-table .section-item .agency {
  width: 35%; }
.main-table .section-item .license {
  width: 10%;
  padding-right: 10px; }

.persons-list-item .person-email a {
  color: #587daa; }
  .persons-list-item .person-email a:hover {
    color: #7a7a7a; }
.management-wrapper .persons-list-item {
  text-align: center; }
  .management-wrapper .persons-list-item .person-data a {
    font-size: 13px;
    color: #587daa; }
    .management-wrapper .persons-list-item .person-data a:hover {
      color: #7a7a7a; }
  .management-wrapper .persons-list-item .person-name {
    font-size: 15px;
    font-weight: bold; }
    .management-wrapper .persons-list-item .person-name span {
      display: block; }
  .management-wrapper .persons-list-item .person-position {
    font-size: 13px; }

.subsidiary-block .persons-list-item {
  padding-bottom: 40px;
  border-bottom: 1px solid #dcdcdc; }

.media-content-wrapper {
  background: white;
  padding: 50px 5px; }
  .media-content-wrapper .title-news {
    background: #bed33f;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; }

.media-list .media-list-item {
  padding: 15px;
  box-sizing: border-box; }
  .media-list .media-list-item .media-title {
    font-weight: 400;
    color: #000; }
  .media-list .media-list-item .media-date {
    color: #a0a0a0; }
  .media-list .media-list-item:hover {
    background: #ededed; }
    .media-list .media-list-item:hover .media-title {
      color: #587daa; }

.news-page .media-title:before {
  content: '•';
  color: #bed33f; }

.additional-news {
  background: #ededed; }
  .additional-news .news-title {
    background: #a0a0a0;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; }
  .additional-news .news-rosatom {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff; }
    .additional-news .news-rosatom span {
      vertical-align: top;
      padding-top: 11px;
      padding-right: 3px;
      font-size: 16px; }
    .additional-news .news-rosatom a {
      color: #000; }
      .additional-news .news-rosatom a:hover {
        color: #587daa; }
        .additional-news .news-rosatom a:hover .rosatom-logo {
          filter: grayscale(0); }
    .additional-news .news-rosatom .rosatom-logo {
      filter: grayscale(1); }
  .additional-news .additional-media-list .additional-media-list-item {
    box-sizing: border-box;
    padding: 10px 15px; }
    .additional-news .additional-media-list .additional-media-list-item:first-child {
      padding-top: 20px; }
    .additional-news .additional-media-list .additional-media-list-item:last-child {
      padding-bottom: 20px; }
    .additional-news .additional-media-list .additional-media-list-item:hover {
      background: #fff; }
      .additional-news .additional-media-list .additional-media-list-item:hover .media-title {
        color: #587daa; }
    .additional-news .additional-media-list .additional-media-list-item .media-date {
      color: #a0a0a0; }
    .additional-news .additional-media-list .additional-media-list-item .media-title {
      font-weight: 400;
      color: #000; }
      .additional-news .additional-media-list .additional-media-list-item .media-title:before {
        color: #5978b6; }

.pagination-bottom {
  text-align: center; }

.page-pagination {
  font-size: 14px; }
  .page-pagination span {
    color: #6e7073;
    font-weight: 600; }
  .page-pagination .pagination-button {
    font-weight: 600; }
    .page-pagination .pagination-button a {
      line-height: 30px;
      color: #000;
      padding: 5px 15px;
      background-repeat: no-repeat;
      background-position: center center; }
      .page-pagination .pagination-button a:hover {
        background-color: #bed33f;
        border-radius: 6px; }
    .page-pagination .pagination-button.first-link a {
      background-image: url("../images/arrow-prev-black-double.png"); }
    .page-pagination .pagination-button.last-link a {
      background-image: url("../images/arrow-next-black-double.png"); }
    .page-pagination .pagination-button.next-link a {
      background-image: url("../images/arrow-next-black-tiny.png"); }
    .page-pagination .pagination-button.prev-link a {
      background-image: url("../images/arrow-prev-black-tiny.png"); }
  .page-pagination .selected a {
    background: #bed33f;
    border-radius: 6px; }
  .page-pagination .page-link a img {
    vertical-align: middle; }

.subsidiaries-menu .subsidiaries-menu-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background-color: #bed33f;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff; }
.subsidiaries-menu .subsidiaries-menu-list {
  padding-left: 20px; }
  .subsidiaries-menu .subsidiaries-menu-list .subsidiaries-menu-list-item {
    text-indent: -20px;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px; }
    .subsidiaries-menu .subsidiaries-menu-list .subsidiaries-menu-list-item a:hover {
      color: #587daa; }

.subsidiary-insertion {
  font-size: 18px;
  background-color: #e2e2e2;
  padding: 5px 10px; }

.facts-block {
  padding-left: 5px;
  padding-right: 5px; }
  .facts-block .facts-summary-list-item {
    text-align: center; }
    .facts-block .facts-summary-list-item .number {
      font-size: 31px;
      font-weight: 600;
      padding-bottom: 12px;
      border-bottom: 3px solid #bed33f; }
    .facts-block .facts-summary-list-item .title {
      padding-top: 5px; }

.owl-carousel-simple .owl-nav {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 1; }
  .owl-carousel-simple .owl-nav button.owl-prev {
    background: url("../images/arrow-prev.png") no-repeat 0 0; }
    .owl-carousel-simple .owl-nav button.owl-prev:hover {
      background: url("../images/arrow-prev.png") no-repeat 0 0; }
  .owl-carousel-simple .owl-nav button.owl-next {
    background: url("../images/arrow-next.png") no-repeat 0 0; }
    .owl-carousel-simple .owl-nav button.owl-next:hover {
      background: url("../images/arrow-next.png") no-repeat 0 0; }
.owl-carousel-simple.black .owl-nav button.owl-prev {
  background: url("../images/arrow-prev-black.png") no-repeat 0 0; }
  .owl-carousel-simple.black .owl-nav button.owl-prev:hover {
    background: url("../images/arrow-next-black.png") no-repeat 0 0; }
.owl-carousel-simple.black .owl-nav button.owl-next {
  background: url("../images/arrow-next-black.png") no-repeat 0 0; }
  .owl-carousel-simple.black .owl-nav button.owl-next:hover {
    background: url("../images/arrow-next-black.png") no-repeat 0 0; }
.owl-carousel-simple.white .owl-nav button.owl-prev {
  background: url("../images/arrow-prev-white.png") no-repeat center center; }
.owl-carousel-simple.white .owl-nav button.owl-next {
  background: url("../images/arrow-next-white.png") no-repeat center center; }
.owl-carousel-simple.white .owl-nav button:hover {
  background-color: rgba(255, 255, 255, 0.25); }
.owl-carousel-simple .owl-dots {
  position: absolute;
  text-align: center; }
  .owl-carousel-simple .owl-dots span {
    border-radius: 100%; }

.main-slider {
  padding-left: 10px;
  padding-right: 10px; }
  .main-slider .slider-text-block,
  .main-slider .slider-image-block {
    vertical-align: middle; }
  .main-slider .owl-item-inner {
    padding-left: 30px;
    padding-right: 30px; }
  .main-slider .slider-image-center {
    text-align: center; }
    .main-slider .slider-image-center .slider-title {
      text-transform: uppercase;
      font: 300 24px/28px "Open Sans", sans-serif;
      color: #bed33f;
      font-weight: 600; }
  .main-slider .slider-image-right {
    text-align: center;
    text-transform: uppercase; }
    .main-slider .slider-image-right .slider-title {
      font: 300 24px/28px "Open Sans", sans-serif;
      color: #bed33f;
      font-weight: 600; }
      .main-slider .slider-image-right .slider-title span {
        padding-bottom: 5px;
        border-bottom: 1px solid #bed33f; }

.header .logo-block .company-name {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600; }
.header .logo-block .main-logo {
  vertical-align: middle; }
.header .navigation-toggle-link {
  background: url(../images/icon-navigation.png) no-repeat center center; }
  .header .navigation-toggle-link:hover, .header .navigation-toggle-link.active {
    background: #bed33f url(../images/icon-navigation-white.png) no-repeat center center; }
.header .top-menu-list {
  font-size: 0; }
  .header .top-menu-list .sitemap {
    background: url(../images/icon-sitemap.png) no-repeat center center; }
    .header .top-menu-list .sitemap:hover {
      background: #bed33f url(../images/icon-sitemap-white.png) no-repeat center center; }
  .header .top-menu-list .top-menu-list-item.search {
    background: url(../images/icon-search.png) no-repeat center center; }
    .header .top-menu-list .top-menu-list-item.search:hover {
      background: #bed33f url(../images/icon-search-white.png) no-repeat center center; }
  .header .top-menu-list .dropdown-header-block {
    background: #bed33f;
    padding: 40px 10px;
    font: 300 15px/18px "Open Sans", sans-serif;
    color: #000; }
    .header .top-menu-list .dropdown-header-block a {
      color: #000; }
    .header .top-menu-list .dropdown-header-block ul ul {
      padding-left: 10px; }
    .header .top-menu-list .dropdown-header-block .sitemap-column > ul > li > a {
      font: 300 18px/22px "Open Sans", sans-serif;
      font-weight: 600; }

.dropdown-menu-list .dropdown-menu-navigation {
  background-color: #bed33f; }
  .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li {
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #000; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li:hover {
      background-color: #ecf2c6; }
  .dropdown-menu-list .dropdown-menu-navigation .child-menu {
    padding-left: 35px; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu li:hover {
      color: #fff; }

.main-content .one-column {
  padding-bottom: 65px;
  padding-left: 5px;
  padding-right: 5px; }
.main-content .main-page-slider {
  padding-right: 10px;
  padding-left: 10px; }
.main-content .dropdown-menu {
  font: 300 15px/18px "Open Sans", sans-serif;
  box-shadow: 0 2px 4px #a0a0a0; }
  .main-content .dropdown-menu li {
    text-indent: 0px; }
  .main-content .dropdown-menu li::before {
    padding-right: 10px;
    content: "•";
    color: #fff;
    font: 300 15px/18px "Open Sans", sans-serif; }
.main-content .work li::before {
  padding-right: 10px;
  content: "•";
  color: #fff;
  font: 300 15px/18px "Open Sans", sans-serif; }
.main-content .ai:hover {
  background: #216c8a; }
.main-content .news-first:hover {
  cursor: pointer;
  background: #dd9665; }
.main-content .news-archive:hover {
  cursor: pointer;
  background: #496299; }

.rewards-title {
  font-size: 32px;
  font-weight: 300; }

.footer-bottom {
  color: #fff;
  text-align: center; }

.logo-block-footer {
  vertical-align: top; }
  .logo-block-footer .logo-item {
    vertical-align: top; }

.social-media-list-item {
  border-radius: 50%; }
.social-media-list .facebook {
  background: #bed33f url(../images/icon-facebook-white.png) no-repeat center center; }
.social-media-list .vk {
  background: #bed33f url(../images/icon-wk-white.png) no-repeat center center; }
.social-media-list .inst {
  background: #bed33f url(../images/icon-inst-white.png) no-repeat center center; }

.search-block-footer .search,
.dropdown-header-block .search {
  border-radius: 3px;
  padding-left: 15px; }
.search-block-footer .button-submit,
.dropdown-header-block .button-submit {
  background-color: transparent;
  border: none;
  background: url(../images/icon-search-form.png) no-repeat 0 0; }

.menu-column {
  padding: 0; }
  .menu-column:last-child {
    padding: 0; }

@media (min-width: 0px) and (max-width: 1059px) {
  .navigation-list {
    background: #bed33f;
    padding: 40px 10px; }
    .navigation-list a {
      color: #000; }
      .navigation-list a:hover {
        color: #fff; }
    .navigation-list .navigation-list-item > a {
      padding: 8px 0 10px 25px;
      text-transform: uppercase; }
      .navigation-list .navigation-list-item > a:hover {
        background: rgba(255, 255, 255, 0.7);
        color: #000; } }
@media (min-width: 480px) {
  .media-content-wrapper {
    padding: 60px 10px; }

  .facts-block {
    padding-left: 75px;
    padding-right: 75px; }

  .content-wrapper .page-content {
    padding-left: 10px;
    padding-right: 10px; }

  .page-title-wrapper {
    padding: 25px 10px; }

  .additional-menu {
    padding: 20px 90px 20px 0px; } }
@media (min-width: 600px) {
  .media-content-wrapper {
    padding: 60px 15px; }

  .facts-block {
    padding-left: 40px;
    padding-right: 25px; }
    .facts-block .facts-summary-list-item {
      text-align: center; }

  .content-wrapper .page-content {
    padding-left: 15px;
    padding-right: 15px; }

  .page-title-wrapper {
    padding: 45px 15px; }

  .main-content .one-column {
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 700px) {
  .content-wrapper .page-content {
    padding-left: 75px;
    padding-right: 75px; }

  .page-title-wrapper {
    padding: 60px 75px; }

  .main-content .one-column {
    padding-left: 25px;
    padding-right: 25px; }

  .footer-main {
    padding-top: 55px;
    padding-bottom: 50px; }

  .footer-bottom {
    padding-top: 55px;
    padding-bottom: 55px; }

  .main-content .tile-list .horizontal-block .expanded-description-block {
    padding: 25px 75px 25px 30px; }

  .dropdown-menu li {
    text-indent: -17px; }

  .main-slider .slider-text-block {
    padding-left: 7.326007326%;
    padding-right: 3.1135531136%; } }
@media (min-width: 720px) {
  .media-content-wrapper {
    padding: 60px 75px; }

  .additional-menu {
    padding: 20px 160px 20px 70px; }

  .header .top-menu-list .top-menu-list-item.search .dropdown-header-block {
    padding-left: 75px;
    padding-right: 75px; }

  .facts-block {
    padding-left: 25px;
    padding-right: 25px; } }
@media (min-width: 960px) {
  .media-content-wrapper {
    padding: 65px 60px; }

  .facts-block {
    padding-left: 40px;
    padding-right: 40px; }

  .subsidiary-insertion {
    padding-left: 65px;
    padding-right: 65px; }

  .content-wrapper {
    padding: 65px 60px; }
    .content-wrapper .page-content {
      padding: 0; }

  .additional-news .news-rosatom {
    background-color: #e2e2e2; }

  .additional-news .additional-media-list .additional-media-list-item:last-child {
    padding-bottom: 10px; }
  .additional-news .news-rosatom {
    padding-top: 10px; }

  .page-menu {
    margin: 0; }

  .menu-open {
    display: none; }

  .additional-menu {
    font-weight: 300;
    background: none;
    overflow: visible;
    padding: 0px 10px 0px 0px; }
    .additional-menu .menu-header {
      background: #e2e2e2;
      padding: 5px 5px 5px 30px;
      text-transform: uppercase; }
    .additional-menu .easytree-focused .easytree-title {
      color: #000; }
    .additional-menu .easytree-exp-e .easytree-title a {
      color: #000; }
    .additional-menu .easytree-focused span.easytree-active,
    .additional-menu span.easytree-exp-e {
      background: #bed33f;
      color: #fff; }
      .additional-menu .easytree-focused span.easytree-active .easytree-title a,
      .additional-menu span.easytree-exp-e .easytree-title a {
        color: #fff; }
      .additional-menu .easytree-focused span.easytree-active:before,
      .additional-menu span.easytree-exp-e:before {
        color: #fff; }
    .additional-menu ul {
      padding: 10px 0px; }
      .additional-menu ul li {
        color: #bed33f; }
        .additional-menu ul li a {
          color: #000; }
        .additional-menu ul li .easytree-node:hover {
          color: #fff;
          background: #bed33f; }

  .content-wrapper {
    padding-left: 60px;
    padding-right: 60px; }

  .page-title-wrapper {
    padding: 55px 60px; }

  .page-title-inscription {
    text-transform: uppercase;
    color: #6e7073; }

  .main-slider .slider-image-right {
    text-align: left; } }
@media (min-width: 1060px) {
  .header {
    padding-left: 65px;
    padding-right: 65px; }
    .header .top-menu-block .navigation-list-item {
      text-transform: uppercase;
      vertical-align: middle;
      font-size: 13px; }
      .header .top-menu-block .navigation-list-item a {
        color: #fff;
        font-weight: 400; }
        .header .top-menu-block .navigation-list-item a:hover {
          background: #bed33f;
          color: #fff; }
      .header .top-menu-block .navigation-list-item > a {
        padding-left: 4px;
        line-height: 75px; }
        .header .top-menu-block .navigation-list-item > a:after {
          padding-left: 4px;
          content: "•";
          color: #bed33f;
          font-size: 14px;
          font-weight: 600; }
      .header .top-menu-block .navigation-list-item:hover > a {
        padding-left: 9px;
        background: #bed33f;
        color: #fff; }
      .header .top-menu-block .navigation-list-item:first-child > a {
        padding-left: 9px; }
      .header .top-menu-block .navigation-list-item:last-child > a {
        padding-right: 9px; }
        .header .top-menu-block .navigation-list-item:last-child > a:after {
          display: none; }
      .header .top-menu-block .navigation-list-item > ul {
        padding-bottom: 10px;
        padding-top: 10px; }
      .header .top-menu-block .navigation-list-item ul {
        background: #fff; }
        .header .top-menu-block .navigation-list-item ul a {
          color: #000;
          padding: 3px 10px 5px; }
    .header .top-menu-block .top-menu-list .dropdown-header-block span {
      font: 300 24px/28px "Open Sans", sans-serif; } }
@media (min-width: 1200px) {
  .main-content {
    padding-bottom: 85px; }

  .header .top-menu-block .navigation-list-item > a {
    padding-left: 10px; }
    .header .top-menu-block .navigation-list-item > a:after {
      padding-left: 10px; }
  .header .top-menu-block .navigation-list-item:first-child > a {
    padding-left: 15px; }
  .header .top-menu-block .navigation-list-item:last-child > a {
    padding-right: 15px; }
  .header .top-menu-block .navigation-list-item:hover > a {
    padding-left: 15px; }
  .header .top-menu-block .top-menu-list .dropdown-header-block span {
    font: 300 24px/28px "Open Sans", sans-serif; }

  .facts-block {
    padding-left: 75px;
    padding-right: 75px; } }

/*# sourceMappingURL=main.css.map */
