@charset "UTF-8";
html,
body {
  padding: 0;
  font: 300 15px/18px "Open Sans", sans-serif; }

h1 {
  font: 300 15px/18px "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 34px/38px; }

ul {
  list-style: none;
  padding: 0; }
  .parent-menu ul {
    list-style-type: disc; }

.owl_carousel_simple .owl-nav {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 1; }
  .owl_carousel_simple .owl-nav button.owl-prev {
    background: url("../images/arrow-prev.png") no-repeat 0 0;
    left: 0; }
  .owl_carousel_simple .owl-nav button.owl-next {
    background: url("../images/arrow-next.png") no-repeat 0 0;
    right: 0; }
.owl_carousel_simple .owl-dots {
  position: absolute;
  text-align: center; }
  .owl_carousel_simple .owl-dots span {
    border-radius: 100%; }

.main-slider .slider-text-block,
.main-slider .slider-image-block {
  vertical-align: middle; }

.header .logo-block .company-name {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600; }
.header .logo-block .main-logo {
  background: url(../images/logo-main.png) no-repeat center center; }
.header .top-menu-list {
  font-size: 0; }
  .header .top-menu-list .navigation {
    background: url(../images/icon-navigation.png) no-repeat center center; }
    .header .top-menu-list .navigation:hover {
      background: #bed33f url(../images/icon-navigation-white.png) no-repeat center center; }
  .header .top-menu-list .sitemap {
    background: url(../images/icon-sitemap.png) no-repeat center center; }
    .header .top-menu-list .sitemap:hover {
      background: #bed33f url(../images/icon-sitemap-white.png) no-repeat center center; }
  .header .top-menu-list .search {
    background: url(../images/icon-search.png) no-repeat center center; }
    .header .top-menu-list .search:hover {
      background: #bed33f url(../images/icon-search-white.png) no-repeat center center; }

.dropdown-menu-list .dropdown-menu-navigation {
  background-color: #bed33f; }
  .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li {
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #000; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li:hover {
      background-color: #ecf2c6; }
  .dropdown-menu-list .dropdown-menu-navigation .child-menu {
    padding-left: 35px; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu li:hover {
      color: #fff; }
.dropdown-menu-list .dropdown-menu-search {
  background-color: #bed33f; }

.main-content {
  background: #dedede;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 );
  /* IE6-9 */ }
  .main-content .one-column {
    padding-bottom: 65px;
    padding-left: 5px;
    padding-right: 5px; }
  .main-content .main-page-slider {
    padding-right: 10px;
    padding-left: 10px; }
  .main-content .page-title-block {
    background-color: #e2e2e2; }
  .main-content .breadcrumb-block {
    padding-top: 35px; }
  .main-content .dropdown-menu {
    font: 300 15px/18px "Open Sans", sans-serif;
    box-shadow: 0 2px 4px #a0a0a0; }
    .main-content .dropdown-menu li {
      text-indent: 0px; }
    .main-content .dropdown-menu li::before {
      padding-right: 10px;
      content: "•";
      color: #fff;
      font: 300 15px/18px "Open Sans", sans-serif; }
  .main-content .work li::before {
    padding-right: 10px;
    content: "•";
    color: #fff;
    font: 300 15px/18px "Open Sans", sans-serif; }
  .main-content .ai:hover {
    background: #216c8a; }
  .main-content .news-first:hover {
    cursor: pointer;
    background: #dd9665; }
  .main-content .news-archive:hover {
    cursor: pointer;
    background: #496299; }

.rewards-title {
  font-size: 32px;
  font-weight: 300; }

.footer-bottom {
  color: #fff;
  text-align: center; }

.logo-block-footer {
  vertical-align: top; }
  .logo-block-footer .logo-item {
    vertical-align: top; }

.social-media-list-item {
  border-radius: 50%; }
.social-media-list .facebook {
  background: #bed33f url(../images/icon-facebook-white.png) no-repeat center center; }
.social-media-list .vk {
  background: #bed33f url(../images/icon-wk-white.png) no-repeat center center; }
.social-media-list .inst {
  background: #bed33f url(../images/icon-inst-white.png) no-repeat center center; }

.search-block-footer .search,
.dropdown-menu-search .search {
  border-radius: 3px;
  padding-left: 15px; }
.search-block-footer .button-submit,
.dropdown-menu-search .button-submit {
  background-color: transparent;
  border: none;
  background: url(../images/icon-search-form.png) no-repeat 0 0; }

.menu-column {
  padding: 0; }
  .menu-column:last-child {
    padding: 0; }

@media (min-width: 600px) {
  .main-content .one-column {
    padding-left: 15px;
    padding-right: 15px; }
  .main-content .tile-list .ai,
  .main-content .tile-list .center,
  .main-content .tile-list .news-first {
    padding-right: 7px; }
  .main-content .tile-list .social-media-block {
    padding-left: 0; }
  .main-content .tile-list .office-process,
  .main-content .tile-list .agency,
  .main-content .tile-list .news-archive,
  .main-content .tile-list .work {
    padding-left: 7px; }
  .main-content .tile-list .vk {
    padding-right: 7px; }
  .main-content .tile-list .facebook {
    padding-left: 7px; } }
@media (min-width: 700px) {
  .main-content .one-column {
    padding-left: 25px;
    padding-right: 25px; }

  .footer-main {
    padding-top: 55px;
    padding-bottom: 50px; }

  .footer-bottom {
    padding-top: 55px;
    padding-bottom: 55px; }

  .main-content .tile-list .horizontal-block .expanded-description-block {
    padding: 25px 75px 25px 30px; }

  .dropdown-menu li {
    text-indent: -17px; }

  .main-slider .slider-text-block {
    padding-left: 7.326007326%;
    padding-right: 3.1135531136%; } }

/*# sourceMappingURL=main.css.map */
