@charset "UTF-8";
.main-content-wrapper {
  background: white;
  overflow: -webkit-paged-y; }

.menu-open {
  background: #bed33f;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center; }

.additional-menu {
  background: #bed33f; }
  .additional-menu span.easytree-node {
    display: inline-block;
    vertical-align: top; }
  .additional-menu span.easytree-expander {
    display: inline-block;
    position: absolute; }
  .additional-menu .top-blur-block {
    background: linear-gradient(to bottom, #bed33f, rgba(0, 0, 0, 0)); }
  .additional-menu .bottom-blur-block {
    background: linear-gradient(to top, #bed33f, rgba(0, 0, 0, 0)); }
  .additional-menu .easytree-focused span.easytree-active .easytree-title {
    background: none;
    color: #fff; }
  .additional-menu .easytree-exp-e .easytree-title a {
    color: #fff; }
  .additional-menu ul.easytree-container ul {
    margin: 0; }
  .additional-menu ul.easytree-container li .easytree-title {
    padding-left: 20px; }
  .additional-menu ul.easytree-container li .easytree-node {
    padding: 10px 0px;
    cursor: pointer;
    width: 100%; }
    .additional-menu ul.easytree-container li .easytree-node:before {
      content: '·';
      font-size: 41px;
      margin-top: 0;
      position: absolute;
      padding-left: 5px; }
  .additional-menu ul {
    padding: 20px 0px;
    font-size: 17px;
    list-style: disc inside; }
    .additional-menu ul li {
      position: relative;
      color: #fff; }
      .additional-menu ul li .easytree-node:hover {
        color: #fff; }
        .additional-menu ul li .easytree-node:hover a {
          color: #fff; }
      .additional-menu ul li a {
        color: #000; }

.users-list .users-list-item {
  text-align: center; }
  .users-list .users-list-item .user-data a {
    font-size: 13px;
    color: #587daa; }
    .users-list .users-list-item .user-data a:hover {
      color: #7a7a7a; }
  .users-list .users-list-item .user-name {
    font-size: 15px;
    font-weight: bold; }
    .users-list .users-list-item .user-name span {
      display: block; }
  .users-list .users-list-item .user-position {
    font-size: 13px; }

@media (min-width: 960px) {
  .main-content-wrapper {
    background: white;
    padding: 0px 40px; }

  .menu-open {
    display: none; }

  .additional-menu {
    background: none;
    overflow: visible; }
    .additional-menu .menu-header {
      background: #e2e2e2;
      padding: 5px 5px 5px 30px;
      text-transform: uppercase; }
    .additional-menu .easytree-focused .easytree-title {
      color: #000; }
    .additional-menu .easytree-exp-e .easytree-title a {
      color: #000; }
    .additional-menu .easytree-focused span.easytree-active,
    .additional-menu span.easytree-exp-e {
      background: #bed33f;
      color: #fff; }
      .additional-menu .easytree-focused span.easytree-active:before,
      .additional-menu span.easytree-exp-e:before {
        color: #fff; }
    .additional-menu ul li {
      color: #bed33f; }
      .additional-menu ul li a {
        color: #000; }
      .additional-menu ul li .easytree-node:hover {
        color: #fff;
        background: #bed33f; } }

/*# sourceMappingURL=management.css.map */
